report-header([header]="header")
ion-card
  ion-card-content
    table(#report_body)
      thead
        tr
          th.userColumnUsers Users
          th.dateColumnDate Date
          th.notesColumnNotes Notes
          th.urlColumnLink Link to Album
      tbody
        tr
          td.logTitle([colSpan]='4') {{report.reports.document.name}}
        tr
          td.userColumn {{report.reports.document.entries.employee}}
          td.dateColumn {{report.reports.document.entries.date}}
          td.notesColumn {{report.reports.document.entries.notes}}
          td.urlColumn
            a(href="{{report.reports.document.entries.additional_info_url}}", *ngIf="report.reports.document.entries.additional_info_url != null && report.reports.document.entries.additional_info_url != undefined && report.reports.document.entries.additional_info_url != ''") {{report.reports.document.entries.additional_info_url}}
            span(*ngIf="report.reports.document.entries.additional_info_url == null || report.reports.document.entries.additional_info_url == undefined || report.reports.document.entries.additional_info_url == ''") N/A
    div(*ngIf="entry == true")
      img(*ngFor="let image of report.reports.document.entries.pictures", [src]="'http://localhost/espresso/data/images/gmp/doc_control/doc_control/' + image", width="100%")