include ../../../log-ionic-materialize.pug

div(*ngIf='!editMode')
  +card()
    +cardContent()
      +row()
        +col()(class='col s4 m4 l4')
          span.detail-title {{ 'OzoneWater.date' | translate:lang }}: 
          span {{register['capture_date']}}
        +col()(class='col s4 m4 l4')
          span.detail-title {{ 'OzoneWater.zone' | translate:lang }}: 
          span {{register['zone']}}
        +col()(class='col s4 m4 l4')
          span.detail-title {{ 'OzoneWater.submitter' | translate:lang }}: 
          span {{register['submitter_first_name']}} {{register['submitter_last_name']}}
      +row()
        +col()(class='col s4 m4 l4')
          span.detail-title {{ 'OzoneWater.time' | translate:lang }}: 
          span {{register['time']}}
        +col()(class='col s4 m4 l4')
          span.detail-title {{ 'OzoneWater.initials' | translate:lang }}: 
          span {{register['initials']}}
        +col()(class='col s4 m4 l4')
          span.detail-title {{ 'OzoneWater.area' | translate:lang }}: 
          span {{register['area']}}
      +row()
        +col()(class='col s6 m6 l6')
          span.detail-title {{ 'OzoneWater.verification' | translate:lang }}: 
          span(*ngIf='register.supervisor_id === null') {{ 'OzoneWater.pending' | translate:lang }}
          span(*ngIf='register.supervisor_id !== null') {{register['supervisor_first_name']}} {{register['supervisor_last_name']}}
            img.signature(src="{{ 'http://localhost/espresso/data/signatures/' + register.signature_path }}")
        +col()(class='col s6 m6 l6')
          span.detail-title {{ 'OzoneWater.good_practices' | translate:lang }}: 
          span(*ngIf='register.gp_supervisor_id === null') {{ 'OzoneWater.pending' | translate:lang }}
          span(*ngIf='register.gp_supervisor_id !== null') {{register['gp_supervisor_first_name']}} {{register['gp_supervisor_last_name']}}
            img.signature(src="{{ 'http://localhost/espresso/data/signatures/' + register.gp_signature_path }}")
      +row()
        +col()(class='s12 m12 l12')
          button(style='float: right;', mz-button, *ngIf='isEditable', (click)='enableEditMode()')
            | {{ 'OzoneWater.edit' | translate:lang }}

div([formGroup]='registerForm', *ngIf='editMode')
  +card()
    +cardContent()
      +row()
        +col()(class="s3 m3 l3")
          +dateInput(false, "{{ 'OzoneWater.date' | translate:lang }}", 'date', 'date', null, 'dateConfig')
        +col()(class="s3 m3 l3")
          +timeInput(true, "{{ 'OzoneWater.time' | translate:lang }}", 'time', null, null, 'timeConfig')
        +col()(class="s3 m3 l3")
          +textInput("{{ 'OzoneWater.initials' | translate:lang }}", null, 'initials', 'text', 'initials', null)
        +col()(class="s3 m3 l3")
          +textInput("{{ 'OzoneWater.area' | translate:lang }}", null, 'area', 'text', 'area', null)

  +row()(*ngIf='isEditable == true')
    +col()(class="s6 m6 l6")
    +col()(class="s3 m3 l3")
      button(style='float: right;', mz-button, (click)='disableEditMode()')= "{{ 'OzoneWater.cancel' | translate:lang }} "
        i(mz-icon-mdi, [icon]="'close'")
    +col()(class="s3 m3 l3")
      button(style='float: right;', mz-button, (click)='editRegister()')= "{{ 'OzoneWater.save' | translate:lang }} "
        i(mz-icon-mdi, [icon]="'send'")
