include ../../../log-ionic-materialize.pug

h4 Abrir bitácora

div(*ngFor='let log of logList')
  +card()
    +cardContent()
      +row()(style='margin-bottom: 0px !important;')
        +col()(class='col s10 m11 l11')
          | {{ 'LogHeader.made_by' | translate:lang }}: {{log.first_name}} {{log.last_name}}
          br
          | {{ 'LogHeader.date' | translate:lang }}: {{log.capture_date | l10nDate:defaultLocale:'longDate'}}
        +col()(class='col s2 m1 l1')
          button(mz-button, float='true', (click)='onLogOpen(log.report_id)', class='green')
            i(mz-icon-mdi, [icon]="'file-outline'", [size]="'24px'")

+card()
  +cardContent()
    +row()(style='margin-bottom: 0px !important;')
      +col()(class='col s10 m11 l11')
        | Iniciar nueva bitácora
      +col()(class='col s2 m1 l1')
        button(mz-button, float='true', (click)='onLogOpen(true)', class='blue')
          i(mz-icon-mdi, [icon]="'new-box'", [size]="'24px'")