ion-card
  ion-card-content
    ion-grid
      ion-row
        | Zona: {{log.zone_name}}
      ion-row
        | Programa: {{log.program_name}}
      ion-row
        | Módulo: {{log.module_name}}
      ion-row
        | Fecha: {{date}}
      ion-row
        | Elaborado por: {{username}}