include ../../log-ionic-materialize.pug

div([formGroup]='workOrderForm')
  +card()
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'WorkOrderForm.work_order_number' | translate:lang }}", null, 'work_order_number', 'text', 'work_order_number', null)(class='medium-text-input no-margin-top')
  +card()
    +cardHeader("I. {{ 'WorkOrderForm.quality_assurance' | translate:lang }}")
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'WorkOrderForm.creator_name' | translate:lang }}", null, 'creator_name', 'text', 'creator_name', null)(class='medium-text-input no-margin-top', disabled='true')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s4 m4 l4')
          +slimTextInput("{{ 'WorkOrderForm.department' | translate:lang }}", null, 'department', 'text', 'department', null)(class='medium-text-input no-margin-top')
        +col()(class='col s4 m4 l4')
          +slimTextInput("{{ 'WorkOrderForm.location' | translate:lang }}", null, 'zone_name', 'text', 'zone_name', null)(class='medium-text-input no-margin-top', disabled='true')
        +col()(class='col s4 m4 l4')
          +slimDateInput(false, "{{ 'WorkOrderForm.date' | translate:lang }}", 'capture_date', 'capture_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'WorkOrderForm.description' | translate:lang }}", null, 'description', 'description', null)(class=' medium-text-area no-margin-top')
  +card()
    +cardHeader("II. {{ 'WorkOrderForm.general_manager' | translate:lang }}")
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimTextInput("{{ 'WorkOrderForm.received_by' | translate:lang }}", null, 'received_by', 'text', 'received_by', null)(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimTextInput("{{ 'WorkOrderForm.assigned_to' | translate:lang }}", null, 'assigned_to', 'text', 'assigned_to', null)(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s4 m4 l4')
          +slimDateInput(false, "{{ 'WorkOrderForm.date' | translate:lang }}", 'repair_date', 'repair_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
        +col()(class='col s4 m4 l4')
          +slimTimeInput(false, "{{ 'WorkOrderForm.time' | translate:lang }}", 'repair_time', 'repair_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
        +col()(class='col s4 m4 l4')
          +slimTextInput("{{ 'WorkOrderForm.repair_duration' | translate:lang }}", null, 'repair_duration', 'number', 'repair_duration', null)(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'WorkOrderForm.repair_work_order_type' | translate:lang }}", null, 'repair_work_order_type', 'repair_work_order_type', null)(class=' medium-text-area no-margin-top')
  +card()
    +cardHeader("III. {{ 'WorkOrderForm.maintenance' | translate:lang }}")
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'WorkOrderForm.task_performer' | translate:lang }}", null, 'maintenance_task_performer', 'text', 'maintenance_task_performer', null)(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimDateInput(false, "{{ 'WorkOrderForm.repair_start_date' | translate:lang }}", 'repair_start_date', 'repair_start_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimTimeInput(false, "{{ 'WorkOrderForm.repair_start_time' | translate:lang }}", 'repair_start_time', 'repair_start_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimDateInput(false, "{{ 'WorkOrderForm.repair_finish_date' | translate:lang }}", 'repair_finish_date', 'repair_finish_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimTimeInput(false, "{{ 'WorkOrderForm.repair_finish_time' | translate:lang }}", 'repair_finish_time', 'repair_finish_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'WorkOrderForm.comments' | translate:lang }}", null, 'repair_comments', 'repair_comments', null)(class=' medium-text-area no-margin-top')
  +card()
    +cardHeader("IV. {{ 'WorkOrderForm.sanitation' | translate:lang }}")
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimTextInput("{{ 'WorkOrderForm.task_performer' | translate:lang }}", null, 'sanitation_task_performer', 'text', 'sanitation_task_performer', null)(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimDateInput(false, "{{ 'WorkOrderForm.date' | translate:lang }}", 'sanitation_date', 'sanitation_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimTimeInput(false, "{{ 'WorkOrderForm.sanitation_start_time' | translate:lang }}", 'sanitation_start_time', 'sanitation_start_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimTimeInput(false, "{{ 'WorkOrderForm.sanitation_finish_time' | translate:lang }}", 'sanitation_finish_time', 'sanitation_finish_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'WorkOrderForm.corrective_action' | translate:lang }}", null, 'sanitation_corrective_action', 'sanitation_corrective_action', null)(class=' medium-text-area no-margin-top')
  +card()
    +cardHeader("V. {{ 'WorkOrderForm.quality_assurance' | translate:lang }} / {{ 'WorkOrderForm.general_manager' | translate:lang }}")
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +checkbox("{{ 'WorkOrderForm.checkbox' | translate:lang }}", false, 'cleaning_verification', 'cleaning_verification')

div(class='row')
  div(class='center col', [ngClass]='(data.id != undefined)?"s3 m3 l3":"s6 m6 l6"', style="margin-bottom: 20px;")
    button(mz-button, (click)='save()')= "Guardar "
      i(mz-icon-mdi, [icon]="'send'")
  div(class='center col s3 m3 l3', style="margin-bottom: 20px;", *ngIf='data.id != undefined')
    button(mz-button, (click)='close()', [disabled]='!workOrderForm.pristine')= "Cerrar "
      i(mz-icon-mdi, [icon]="'lock'")
  div(class='center col', [ngClass]='(data.id != undefined)?"s3 m3 l3":"s6 m6 l6"', style="margin-bottom: 20px;")
    button(mz-button, (click)='back()')= "Regresar "
      i(mz-icon-mdi, [icon]="'undo-variant'")
  div(class='center col s3 m3 l3', style="margin-bottom: 20px;", *ngIf='data.id != undefined')
    button(mz-button, (click)='delete()')= "Borrar "
      i(mz-icon-mdi, [icon]="'delete'")