<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-account-multiple md-36 field-icon"></i>
            <div class="authorization_list"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div id="waiting_reports">

</div>

<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-account-multiple md-36 field-icon"></i>
            <div class="pending_list"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div id="rejected_reports">

</div>