<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-wrench md-36 field-icon"></i>
            <div class="manage_inventory"></div>
            <div id="log_name"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div id="content_wrapper">
    <div id="controls_wrapper">

    </div>
    <div id="multi_inventory_tabs" style="display:none;">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="green-text" href="#inventory_tab">Manage Inventory</a></li>
                <li class="tab col s6"><a class="green-text" href="#areas_tab">Manage Areas</a></li>
            </ul>
        </div>
        <div id="inventory_tab" class="col s12">
        	<div id="inventory_controls_wrapper">

    		</div>
    	</div>
        <div id="areas_tab" class="col s12" style="display:none;">
        	
        </div>
    </div>
</div>

<script src="/espresso/source/client/common/scripts/logs/form-creator.js"></script>
<script src="/espresso/source/client/common/scripts/logs/table-creator.js"></script>
