form([formGroup]='itemForm')
  ion-grid
    ion-row
      ion-col
        | {{item.name}}
    div(radio-group, formControlName='is_acceptable')
      ion-row
        ion-col
          ion-item
            ion-label {{ 'Log.acceptable' | translate:lang }}
            ion-radio([value]='true', (click)='acceptable()')
        ion-col
          ion-item
            ion-label {{ 'Log.unacceptable' | translate:lang }}
            ion-radio([value]='false', (click)='unacceptable()')
    ion-row
      ion-col
        ion-item([hidden]='!visibleAction')
          ion-label {{ 'Log.corrective_action' | translate:lang }}
          ion-select(formControlName='corrective_action_id')
            ion-option(*ngFor='let action of actions', [value]='action.id') {{action[lang]}}
    ion-row
      ion-col
        ion-item([hidden]='!visibleComment')
          ion-label(color='primary', floating) {{ 'Log.comments_of' | translate:lang }} {{item.name}}
          ion-textarea(formControlName='comment')
  .divider
