extends ../../report.common.pug

block report
  table(#report_body, style="display: block; overflow: scroll;")
    tbody
      tr
        th.batchColumn {{ 'Log.batch' | translate:lang }}
        th.areaColumn {{ 'Log.area' | translate:lang }}
        th.suppliersColumn {{ 'Log.suppliers' | translate:lang }}
        th.productsColumn {{ 'Log.products' | translate:lang }}
        th.clientsColumn {{ 'Log.customers' | translate:lang }}
        th.qualityColumn {{ 'Log.quality' | translate:lang }}
        th.originColumn {{ 'Log.origin' | translate:lang }}
        th.expiresColumn {{ 'Log.expires' | translate:lang }}
        th.waterColumn {{ 'Log.washing_temp_abbr' | translate:lang }}
        th.packingColumn {{ 'Log.packing_temp_abbr' | translate:lang }}
        th.weightColumn {{ 'Log.correct_weight' | translate:lang }}
        th.labelColumn {{ 'Log.correct_label' | translate:lang }}
        th.traceabilityColumn {{ 'Log.correct_traceability' | translate:lang }}
        th.urlColumn {{ 'Log.external_url' | translate:lang }}
        th.notesColumn {{ 'Log.notes' | translate:lang }}
      tr(*ngFor="let entry of report.entries")
        td.batchColumn {{entry.batch}}
        td.areaColumn {{entry.production_area}}
        td.suppliersColumn {{entry.supplier}}
        td.productsColumn {{entry.product}}
        td.clientsColumn {{entry.customer}}
        td.qualityColumn {{entry.quality}}
        td.originColumn {{entry.origin}}
        td.expiresColumn {{entry.expiration_date}}
        td.waterColumn {{entry.water_temperature}}
        td.packingColumn {{entry.product_temperature}}
        td.weightColumn(*ngIf='entry.is_weight_correct == 1') {{ 'Log.yes' | translate:lang }}
        td.weightColumn(*ngIf='entry.is_weight_correct != 1') {{ 'Log.no' | translate:lang }}
        td.labelColumn(*ngIf='entry.is_label_correct == 1') {{ 'Log.yes' | translate:lang }}
        td.labelColumn(*ngIf='entry.is_label_correct != 1') {{ 'Log.yes' | translate:lang }}
        td.traceabilityColumn(*ngIf='entry.is_trackable == 1') {{ 'Log.yes' | translate:lang }}
        td.traceabilityColumn(*ngIf='entry.is_trackable != 1') {{ 'Log.yes' | translate:lang }}
        td.urlColumn
          a(href="{{entry.album_url}}", target="_blank", *ngIf="entry.album_url != null && entry.album_url != '' && entry.album_url != undefined") {{entry.album_url}}
        td.notesColumn {{entry.notes}}