include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  +cardHeader("{{item.name}}")
  +cardContent()
    +textInput("{{ 'Log.ice_point_test' | translate:lang }}", "snow", "test", "number")
    +textArea("{{ 'Log.deficiencies_of' | translate:lang }} {{item.name}}", "close-circle", "deficiencies")
    +textArea("{{ 'Log.corrective_action_of' | translate:lang }} {{item.name}}", "build", "corrective_action")