div([formGroup]='itemForm')
  ion-list-header
    | {{item.name}}
  ion-item()
    ion-label(color='primary', floating) {{ 'Log.ice_point_test' | translate:lang }}
    ion-input(formControlName='test')
  ion-item()
    ion-label(color='primary', floating) {{ 'Log.deficiencies_of' | translate:lang }} {{item.name}}
    ion-textarea(formControlName='deficiencies')
  ion-item()
    ion-label(color='primary', floating) {{ 'Log.corrective_action_of' | translate:lang }} {{item.name}}
    ion-textarea(formControlName='corrective_action')