include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    form([formGroup]='captureForm', (ngSubmit)='save(myForm)')
      +card(true)
        +cardContent()
          +row()
            +col()(class='s4 m4 l4')
              +select(null, null, "shift_id", null, "shift", "'Shift'")
                +option("{{shift.name}}", "shift.shift_id", "{{first}}", false)(*ngFor='let shift of log.items.shifts; let first = first')
            +col()(class='s4 m4 l4')
              +timeInput(true, "Time", "time", "time", null, null)
            +col()(class='s4 m4 l4')
              +dateInput(true, "Date of occurrence", "incident_date", "date", null, null)
          +row()
            +col()(class='s4 m4 l4')
              +textInput("Production area", false, "area_id", "text", "production_area", null)
            +col()(class='s4 m4 l4')
              +textInput("Product", false, "product_id", "text", "product", null)
            +col()(class='s4 m4 l4')
              +textInput("Batch", false, "batch_id", "text", "batch", null)
          +row()
            +col()(class='s12 m12 l12')
              +textArea("Description", false, "description_id", "description", null)
          +row()
            +col()(class='s12 m12 l12')
              +textArea("Corrective action", false, "corrective_action", "action", null)
          +row()
            +col()(class='s12 m12 l12')
              +textArea("External link", false, "album_url", "album_url", null)
      +sendLogButton("{{ 'Log.send_report' | translate:lang }}")