ion-content(hide-fab, [class.no-scroll]='!scrollAllowed')
  ion-list
    ion-item(ion-list-header, *ngIf='emptyInventoryFlag == false')
      ion-label {{ 'InventoryLists.name' | translate:lang }}
      ion-toggle(item-end, style='visibility: hidden;')
    gmp-packing-cold-room-temp-inventory-list([items]='inventory')
    div(*ngIf='emptyInventoryFlag == true')
      ion-item(text-wrap)
        ion-icon(item-start, name='warning', color='danger')
        ion-label
          h1
            | No items for this log. Add some by using the 
            ion-icon(name='add-circle', color='open')
            |  button below
  ion-fab(right, bottom)
    button(ion-fab, color='open', (click)='addItem()')
      ion-icon(name='add')