extends ../../inventory-viewer.common.pug

block inventory
  mz-tab([fixedTabWidth]="'true'")
    mz-tab-item([label]="'Manage Inventory'")
      gmp-packing-ozone-water-inventory
    mz-tab-item([label]="'Manage Areas'")
      gmp-packing-ozone-water-area-inventory
