include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  +cardHeader("{{item.name}}")
  +cardContent()
    +row()
      +col()([ngClass]="(itemForm.controls.is_acceptable.value == true)?'s12 m12 l12':'s6 m6 l6'")
        +radioGroup(false, false, "is_acceptable")
          +radio("{{ 'Log.acceptable' | translate:lang }}", false, "true", false, false, "acceptable_{{item.id}}", "conditions_{{item.id}}")([formControl]='itemForm.controls.is_acceptable', [value]='true')
          +radio("{{ 'Log.unacceptable' | translate:lang }}", false, "false", false, false, "unacceptable_{{item.id}}", "conditions_{{item.id}}")([formControl]='itemForm.controls.is_acceptable', [value]='false')
          //-+errorMessage('!itemForm.controls.is_acceptable.valid && itemForm.controls.is_acceptable.dirty', 'Debe marcar un elemento como Aceptable o No Aceptable')
      +col()(*ngIf='itemForm.controls.is_acceptable.value == false', class="s6 m6 l6")
        +select("{{ 'Log.corrective_action' | translate:lang }}", false, "corrective_action_id", "popover")([hidden]='itemForm.controls.is_acceptable.value !== false')
          +option("{{action[lang]}}", "action.id", false, false)(*ngFor='let action of actions')
      +col()(*ngIf='itemForm.controls.is_acceptable.value == false', class="s12 m12 l12")
        +textArea("{{ 'Log.comments_of' | translate:lang }} {{item.name}}", "comment", "comment")([hidden]='itemForm.controls.is_acceptable.value !== false')
        //-+errorMessage('!itemForm.controls.comment.valid && itemForm.controls.comment.dirty', 'Comentario demasiado largo')