div
  mz-card
    mz-card-title {{ 'Report Request' | translate:lang }}
    mz-card-content
      form#date-form([formGroup]='dateRangeForm', (ngSubmit)='getReportData()')
        .row
          mz-datepicker-container.s12.m12.l12
            i(mz-icon-mdi, mz-input-prefix, [icon]="'calendar'")
            input(mz-datepicker, [label]="'Fecha de inicio'", type='text', formControlName='startDate', [options]='options')
        .row
          mz-datepicker-container.s12.m12.l12
            i(mz-icon-mdi, mz-input-prefix, [icon]="'calendar'")
            input(mz-datepicker, [label]="'Fecha de cierre'", type='text', formControlName='endDate', [options]='options')
        .row
          button(mz-button, type='submit') Open Report
          button(mz-button) View in PDF
      form#pdf-form(method='POST', target='_blank', action='http://localhost/espresso/source/server/report/reportPDF.php', ngNoForm='')
        input(type='hidden', name='lang', [ngModel]='pdfReport.lang')
        input(type='hidden', name='content', [ngModel]='pdfReport.content')
        input(type='hidden', name='style', [ngModel]='pdfReport.style')
        input(type='hidden', name='company', [ngModel]='pdfReport.company')
        input(type='hidden', name='address', [ngModel]='pdfReport.address')
        input(type='hidden', name='logo', [ngModel]='pdfReport.logo')
        input(type='hidden', name='orientation', [ngModel]='pdfReport.orientation')
        input(type='hidden', name='fontsize', [ngModel]='pdfReport.fontsize')
        input(type='hidden', name='footer', [ngModel]='pdfReport.footer')
        input(type='hidden', name='supervisor', [ngModel]='pdfReport.supervisor')
        input(type='hidden', name='signature', [ngModel]='pdfReport.signature')
      .row
        .col
            button(mz-button, form='date-form')
              | {{ 'Open Report' | translate:lang }}
        .col
          div(*ngIf='reports.length != 0')
            button(mz-button, (click)='showChildren()', form='pdf-form') View in PDF
  report-loader(#reports='', *ngFor='let report of reports', [report]='report', [activeReport]='activeReport', [suffix]='reportSuffix', [footer]='reportFooter')