include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  log-header([log]="logHeaderData")
  form([formGroup]='gmpPackingScissorsKnivesForm', (ngSubmit)='save(myForm)')
    +card
      +cardContent
        +list
          gmp-packing-scissors-knives-item(*ngFor='let item of log.items; let i = index', [item]='item', [itemGroup]='gmpPackingScissorsKnivesForm.controls.items.controls[i]')
    +card
      +cardContent
        ion-item
          ion-label(color='primary', floating) {{ 'Log.notes_of' | translate:lang }} {{log.log_name}}
          ion-textarea(formControlName='notes')
    +sendLogButton("{{ 'Log.send_report' | translate:lang }}")