data/documents
*.bak
*.*.bak
permisos.json
privileges.json
composer.lock
error_log.txt
source/server/error_log.txt
~/.vscode-root
source/server/app.log
app.log
*.log
tests/*
external/*
data/logos/
data/signatures/
data/manuals/
data/images/
data/menu/*
data/capa/*
source/client2/prod
source/client2/node_modules/
source/client2/dev/templates/*.html
source/client2/dev/stylesheets/*.css
*.html