RewriteEngine On
RewriteBase /espresso/

# Redirect any request for a layout to the proper HTML page
RewriteRule ^layouts/(.+)$ source/client/layouts/$1.html [L,QSA]

# Redirect any service request to the controller script
RewriteRule ^services/(.+)$ source/server/services/Controller.php [L,QSA]

# Redirect the password recovery page to the proper page
RewriteRule ^recover-password$ source/client/layouts/recover-password.html [L,QSA]

# Redirect any petition that is not a directory, file or link to the main page
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ source/client/layouts/main.html [L,QSA]

# When no petition is specified, redirect it to the main page
RewriteRule ^$ source/client/layouts/main.html [L,QSA]

# Prevent directory listing of the server files
Options -Indexes 
