ion-header
  ion-toolbar(color='primary')
    ion-title
      | Editar area
    ion-buttons(start)
      button(ion-button, icon-only, (click)='dismiss()')
        ion-icon(name='close')

ion-content
  form([formGroup]='newArea')
    ion-item
      ion-label(color='primary', floating) Nombre
      ion-input(formControlName='name')

    br

    div(text-right)
      button(ion-button, icon-end, (click)='addItem()')
        | Añadir
        ion-icon(name='add')