report-header([header]="header")
ion-card
  ion-card-content
    table(#report_body)
      thead
        tr
          th.timeColumn {{ 'Log.time' | translate:lang }}
          th.numberColumn {{ 'Log.number_abbr' | translate:lang }}
          th.testColumn {{ 'Log.reading' | translate:lang }}
          th.deficienciesColumn {{ 'Log.deficiencies' | translate:lang }}
          th.actionColumn {{ 'Log.corrective_action' | translate:lang }}
      tbody
        ng-template(ngFor, let-item, [ngForOf]='report.items', let-first='first')
          tr(gmp-packing-cold-room-temp-report-item, [item]='item', [time]='report.time', [timeRowspan]='report.items.length', *ngIf='first')
          tr(gmp-packing-cold-room-temp-report-item, [item]='item', *ngIf='!first')