extends ../../register-common/add-register-modal/add-register-modal.component.pug

block add
  div([formGroup]='registerForm')
    +row()
      +col()(class="s12 m6 l6")
        +dateInput(false, "{{ 'VehicleCleaning.date' | translate:lang }}", 'date', 'date', null, 'dateConfig')
      +col()(class="s12 m6 l6")
        +textInput("{{ 'VehicleCleaning.license_plate' | translate:lang }}", null, 'license_plate', 'text', 'license_plate', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'VehicleCleaning.disinfection' | translate:lang }}", null, 'disinfection', 'number', 'disinfection', null)
      +col()(class="s12 m6 l6")
        +select("{{ 'VehicleCleaning.water_rinse' | translate:lang }}", false, "water_rinse", "popover", null, "{{ 'VehicleCleaning.water_rinse' | translate:lang }}")
          //-+option('N/A', 'null', false, false)
          +option("{{ 'Log.yes' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.no' | translate:lang }}", "false", false, false)
    +row()
      +col()(class="s12 m6 l6")
        +select("{{ 'VehicleCleaning.conditions' | translate:lang }}", false, "conditions", "popover", null, "{{ 'VehicleCleaning.conditions' | translate:lang }}")
          //-+option('N/A', 'null', false, false)
          +option("{{ 'Log.acceptable' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.unacceptable' | translate:lang }}", "false", false, false)
      +col()(class="s12 m6 l6")
        +select("{{ 'VehicleCleaning.contamination_free' | translate:lang }}", false, "contamination_free", "popover", null, "{{ 'VehicleCleaning.contamination_free' | translate:lang }}")
          //-+option('N/A', 'null', false, false)
          +option("{{ 'Log.yes' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.no' | translate:lang }}", "false", false, false)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'VehicleCleaning.corrective_action' | translate:lang }}", null, 'corrective_action', 'text', 'corrective_action', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'VehicleCleaning.initials' | translate:lang }}", null, 'initials', 'text', 'initials', null)
