include ../../../inventory-ionic-materialize.pug

+inventoryItemWrapper()
  +inventoryItemHandler()
  +inventoryItemColumn('{{item.id}}')
  +inventoryItemColumn('{{item.position}}')
  +inventoryItemColumn('{{item.name}}')
  +inventoryItemToggle()