mz-card
  mz-card-content
    div(#report_body)
      table
        tbody
          tr
            td {{ 'CustomerComplaintForm.subject' | translate:lang }}
            td {{ report.subject }}
          tr
            td {{ 'CustomerComplaintForm.corrective_action' | translate:lang }}
            td {{ report.corrective_action }}
      p()= " "
      table
        tbody
          tr
            td {{ 'CustomerComplaintForm.customer' | translate:lang }}
            td {{ 'CustomerComplaintForm.complaint_date' | translate:lang }}
            td {{ 'CustomerComplaintForm.sales_order_number' | translate:lang }}
            td {{ 'CustomerComplaintForm.account_manager' | translate:lang }}
            td {{ 'CustomerComplaintForm.shipped_to' | translate:lang }}
          tr
            td {{ report.customer }}
            td {{ report.complaint_date }}
            td {{ report.sales_order_number }}
            td {{ report.account_manager }}
            td {{ report.shipped_to }}
          tr
            td {{ 'CustomerComplaintForm.complaint_reason' | translate:lang }}
            td(colspan='4') {{ report.complaint_reason }}
          tr
            td {{ 'CustomerComplaintForm.root_cause' | translate:lang }}
            td(colspan='4') {{ report.root_cause }}
      p()= " "
      table
        thead
          tr
            th {{ 'CustomerComplaintForm.product' | translate:lang }}
            th {{ 'CustomerComplaintForm.quantity' | translate:lang }}
            th {{ 'CustomerComplaintForm.price' | translate:lang }}
        tbody
          tr(*ngFor='let detail of report.details')
            td {{ detail.product }}
            td {{ detail.quantity }}
            td {{ detail.cost }}
      p()= " "
      table
        tbody
          tr
            td {{ 'CustomerComplaintForm.shipping_point' | translate:lang }}
            td {{ report.shipping_point }}
          tr
            td {{ 'CustomerComplaintForm.product_sources' | translate:lang }}
            td
              ng-template(ngFor, [ngForOf]='report.sources', let-source, let-last='last') {{ source.zone_name }}
                span(*ngIf='!last')= ", "
          tr
            td {{ 'CustomerComplaintForm.incoming_qc_score' | translate:lang }}
            td {{ report.incoming_qc_score }}
          tr
            td {{ 'CustomerComplaintForm.total_age' | translate:lang }}
            td {{ report.product_age }}
          tr
            td {{ 'CustomerComplaintForm.shipping_age' | translate:lang }}
            td {{ report.shipping_age }}
          tr
            td {{ 'CustomerComplaintForm.transit_time' | translate:lang }}
            td {{ report.transit_time }}
          tr
            td {{ 'CustomerComplaintForm.complaint_age' | translate:lang }}
            td {{ report.complaint_age }}