extends ../../register-common/add-register-modal/add-register-modal.component.pug

block add
  div([formGroup]='registerForm')
    +row()
      +col()(class="s12 m6 l6")
        +dateInput(false, "{{ 'FinishedProduct.date' | translate:lang }}", 'date', 'date', null, 'dateConfig')
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.code' | translate:lang }}", null, 'code', 'text', 'code', null)((input)='onCodeChange()', [autocomplete]='codesAutocomplete')
        //-+textInput("{{ 'FinishedProduct.code' | translate:lang }}", null, 'code', 'text', 'code', null)((input)='onCodeChange()')
    //-+row()
      +col()(class="s12 m12 l12")
        +textInput("{{ 'FinishedProduct.description' | translate:lang }}", null, 'description', 'text', 'description', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.folio' | translate:lang }}", null, 'folio', 'text', 'folio', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.temperature' | translate:lang }}", null, 'temperature', 'number', 'temperature', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.color' | translate:lang }}", null, 'color', 'number', 'color', null)
      +col()(class="s12 m6 l6")
        +radioGroup("{{ 'FinishedProduct.label' | translate:lang }}", false, "label")
          +radio("{{ 'FinishedProduct.yes' | translate:lang }}", false, "true", false, false, "label_yes_{{i + 1}}", "label_{{i + 1}}")([formControl]='registerForm.controls.label', [value]='true')
          +radio("{{ 'FinishedProduct.corrected' | translate:lang }}", false, "false", false, false, "label_no_{{i + 1}}", "label_{{i + 1}}")([formControl]='registerForm.controls.label', [value]='false')
    +row()
      +col()(class="s12 m6 l6")
        +radioGroup("{{ 'FinishedProduct.weight' | translate:lang }}", false, "weight")
          +radio("{{ 'FinishedProduct.yes' | translate:lang }}", false, "true", false, false, "weight_yes_{{i + 1}}", "weight_{{i + 1}}")([formControl]='registerForm.controls.weight', [value]='true')
          +radio("{{ 'FinishedProduct.corrected' | translate:lang }}", false, "false", false, false, "weight_no_{{i + 1}}", "weight_{{i + 1}}")([formControl]='registerForm.controls.weight', [value]='false')
      +col()(class="s12 m6 l6")
        +radioGroup("{{ 'FinishedProduct.traceability' | translate:lang }}", false, "traceability")
          +radio("{{ 'FinishedProduct.yes' | translate:lang }}", false, "true", false, false, "traceability_yes_{{i + 1}}", "traceability_{{i + 1}}")([formControl]='registerForm.controls.traceability', [value]='true')
          +radio("{{ 'FinishedProduct.corrected' | translate:lang }}", false, "false", false, false, "traceability_no_{{i + 1}}", "traceability_{{i + 1}}")([formControl]='registerForm.controls.traceability', [value]='false')
    +row()
      +col()(class="s12 m12 l12")
        +select("{{ 'FinishedProduct.status' | translate:lang }}", false, "status_id", "popover")
          +option('N/A', 'null', false, false)
          +option("{{stat.name}}", "stat.id", false, false)(*ngFor='let stat of status')
    .divider.black-divider
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.mechanical_damage' | translate:lang }}", null, 'mechanical_damage', 'number', 'mechanical_damage', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.soggy' | translate:lang }}", null, 'soggy', 'number', 'soggy', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.insect_damage' | translate:lang }}", null, 'insect_damage', 'number', 'insect_damage', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.decoloration' | translate:lang }}", null, 'decoloration', 'number', 'decoloration', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.decay' | translate:lang }}", null, 'decay', 'number', 'decay', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.wrinkly' | translate:lang }}", null, 'wrinkly', 'number', 'wrinkly', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.busted' | translate:lang }}", null, 'busted', 'number', 'busted', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.dehydration' | translate:lang }}", null, 'dehydration', 'number', 'dehydration', null)
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.small_count' | translate:lang }}", null, 'small_count', 'number', 'small_count', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.big_count' | translate:lang }}", null, 'big_count', 'number', 'big_count', null)
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.deformation' | translate:lang }}", null, 'deformation', 'number', 'deformation', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.insect_damage' | translate:lang }}", null, 'insect_damage', 'number', 'insect_damage', null)
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.scarring' | translate:lang }}", null, 'scarring', 'number', 'scarring', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.decoloration' | translate:lang }}", null, 'decoloration', 'number', 'decoloration', null)
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.dehydration' | translate:lang }}", null, 'dehydration', 'number', 'dehydration', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.mechanical_damage' | translate:lang }}", null, 'mechanical_damage', 'number', 'mechanical_damage', null)
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.mushiness' | translate:lang }}", null, 'mushiness', 'number', 'mushiness', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.bruises' | translate:lang }}", null, 'bruises', 'number', 'bruises', null)
      //-+col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.sampling' | translate:lang }}", null, 'sampling', 'number', 'sampling', null)
    +row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.sampling' | translate:lang }}", null, 'sampling', 'number', 'sampling', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.exposition_temperature' | translate:lang }}", null, 'exposition_temperature', 'number', 'exposition_temperature', null)
    +row()
      +col()(class="s12 m12 l12")
        +textInput("{{ 'FinishedProduct.notes' | translate:lang }}", null, 'notes', 'text', 'notes', null)
    //-+row()
      +col()(class="s12 m6 l6")
      +col()(class="s12 m6 l6")
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.description' | translate:lang }}", null, 'description', 'text', 'description', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.brix' | translate:lang }}", null, 'brix', 'number', 'brix', null)
    //-+row()
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.color' | translate:lang }}", null, 'color', 'number', 'color', null)
      +col()(class="s12 m6 l6")
        +textInput("{{ 'FinishedProduct.action' | translate:lang }}", null, 'action', 'text', 'action', null)