include ../../../log-ionic-materialize.pug

+fullLogWrapper
  log-header([log]="logHeaderData")
  form([formGroup]='gmpPackingColdRoomTempForm', (ngSubmit)='save(myForm)')
    +card()
      +cardContent()
        +timeInput(true, "{{ 'Log.time' | translate:lang }}", "time")
    gmp-packing-cold-room-temp-item(*ngFor='let item of log.items; let i = index', [item]='item', [itemGroup]='gmpPackingColdRoomTempForm.controls.items.controls[i]')
    +sendLogButton("{{ 'Log.send_report' | translate:lang }}")