include ../../../inventory-ionic-materialize.pug
include ../../../log-ionic-materialize.pug

tr([formGroup]="newItem")
  td
  td
  td
  td
    +textInput(null, null, "name", "text", "new_item", "{{ 'InventoryLists.new_item' | translate:lang }}")
    +errorMessage("!newItem.controls.name.valid && newItem.controls.name.dirty && newItem.controls.name.value.length == 0", "{{ 'InventoryErrors.generic.name_required' | translate:lang }}")
    +errorMessage("!newItem.controls.name.valid && newItem.controls.name.dirty && newItem.controls.name.value.length >= 1", "{{ 'InventoryErrors.generic.name_max_255' | translate:lang }}")
  td
    +textInput(null, null, "quantity", "number", "new_quantity", "New QTY")
    +errorMessage("!newItem.controls.quantity.valid && newItem.controls.quantity.dirty", "{{ 'InventoryErrors.generic.quantity_required' | translate:lang }}")
  td
    +addItemButton()((click)="addItem()")