mixin espressoNavbar()
  ion-header
    ion-navbar(color='secondary')
      button(ion-button='', menutoggle='')
        ion-icon(name='menu')
      ion-grid
        ion-row
          ion-col
            ion-title
              | Espresso
          ion-col
            ion-list
              ion-item([hidden]='true')
                ion-select(#zone_select='', interface='popover')
                  ion-option(value='BCN', selected='') BCN
                  ion-option(value='LAW') LAW
                  ion-option(value='PES') PES
                  ion-option(value='ZAR') ZAR
                  ion-option(value='ETC') ETC
          ion-col
            ion-list
              ion-item([hidden]='true')
                ion-select(#language_select='', interface='action-sheet', (ionchange)='onLanguageChange($event)')
                  ion-option(value='en') English
                  ion-option(value='es') Español
          button(ion-button='', icon-24='', clear='', color='light', (click)='openZoneSelector()')
            ion-icon(name='map')
          button(ion-button='', icon-24='', clear='', color='light', (click)='openLanguageSelector()')
            ion-icon(name='globe')