include ../../../../inventory-ionic-materialize.pug

ng-content(select='.header')
+inventoryListWrapper()([dragula]='bagName', [(dragulaModel)]='items')
  +inventoryItemComponent('gap-packing-pest-control-inspection-interior-equipment-status', 'item', 'items')([item]='item')
ng-content(select='.footer')