include ../../../log-ionic-materialize.pug

+row()([formGroup]="testForm")
  +col()(class="s2 m2 l2")
    +textInput("Reading", null, "results1", "text", "reading1_{{entryNumber}}_{{testNumber}}", null)
  +col()(class="s2 m2 l2")
    +radioGroup(false, false, "test1")
      +radio("{{ 'Log.pass' | translate:lang }}", false, "true", false, false, "acceptable_{{entryNumber}}_{{testNumber}}", "conditions_{{entryNumber}}_{{testNumber}}")([formControl]='testForm.controls.test1', [value]='true')
      +radio("{{ 'Log.fail' | translate:lang }}", false, "false", false, false, "unacceptable_{{entryNumber}}_{{testNumber}}", "conditions_{{entryNumber}}_{{testNumber}}")([formControl]='testForm.controls.test1', [value]='false')
  +col()(class="s4 m4 l4")
    +textInput("Corrective action", null, "corrective_action", "text", "corrective_action_{{entryNumber}}_{{testNumber}}", null)
  +col()(class="s2 m2 l2")
    +textInput("Reading", null, "results2", "text", "reading2_{{entryNumber}}_{{testNumber}}", null)
  +col()(class="s2 m2 l2")
    +radioGroup(false, false, "test2")
      +radio("{{ 'Log.pass' | translate:lang }}", false, "true", false, false, "acceptable2_{{entryNumber}}_{{testNumber}}", "conditions2_{{entryNumber}}_{{testNumber}}")([formControl]='testForm.controls.test2', [value]='true')
      +radio("{{ 'Log.fail' | translate:lang }}", false, "false", false, false, "unacceptable2_{{entryNumber}}_{{testNumber}}", "conditions2_{{entryNumber}}_{{testNumber}}")([formControl]='testForm.controls.test2', [value]='false')