include ../../../inventory-ionic-materialize.pug

+inventoryWrapper()
  +inventoryListsWrapper(null)
    +inventoryTitleWrapper()
      +inventoryTitleHandler()
      +inventoryTitleColumn("{{ 'InventoryLists.id' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.order' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.name' | translate:lang }}")
      +inventoryTitleToggle()
    //-For Ionic version uncomment the next line, Dragula variables are found inside the .list.pug file
    //-+inventoryList('gmp-packing-ozone-water')([items]='inventory')
    //-For ng2-Materialize version uncomment the next two lines, we have to pass Dragula variables here
    +inventoryList('gmp-packing-ozone-water')([items]='inventory', [dragula]="'gmp-packing-ozone-water-bag'", [dragulaModel]='inventory', [dragulaOptions]='options')
    +inventoryListAddItemFooter('gmp-packing-ozone-water')
  +inventoryEmptyMessage()
  +inventoryAddButton()