include ../../log-ionic-materialize.pug

div([formGroup]='registerForm')
  +card()
    +cardContent()
      +row()
        +col()(class="s3 m3 l3")
          +slimDateInput(false, "{{ 'CropRegistry.date' | translate:lang }}", 'date', 'date', null, 'dateConfig')(class='medium-text-input no-margin-top')
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.crop' | translate:lang }}", null, 'crop', 'text', 'crop', null)(class='medium-text-input no-margin-top', [autocomplete]='autocompleteCrops')
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.variety' | translate:lang }}", null, 'variety', 'text', 'variety', null)(class='medium-text-input no-margin-top', [autocomplete]='autocompleteVarieties')
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.section' | translate:lang }}", null, 'section', 'text', 'section', null)(class='medium-text-input no-margin-top')
      +row()
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.block' | translate:lang }}", null, 'block', 'text', 'block', null)(class='medium-text-input no-margin-top')
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.weight' | translate:lang }}", null, 'weight', 'number', 'weight', null)(class='medium-text-input no-margin-top')
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.people' | translate:lang }}", null, 'people', 'number', 'people', null)(class='medium-text-input no-margin-top')
        +col()(class="s3 m3 l3")
          +slimTextInput("{{ 'CropRegistry.hours' | translate:lang }}", null, 'hours', 'number', 'hours', null)(class='medium-text-input no-margin-top')

+row()
  +col()(class="s3 m3 l3 offset-s9 offset-m9 offset-l9")
    button(mz-button, (click)='onAddRegister()')= "{{ 'CropRegistry.save' | translate:lang }} "
      i(mz-icon-mdi, [icon]="'send'")
