include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf='showLog == true')
    block header
      log-header([log]='logHeaderData', [dateGroup]='captureForm')
    form([formGroup]='captureForm', (ngSubmit)='save()')
      gap-packing-harvest-machine-cleaning-machine([machine]='machine', [machineForm]='captureForm.controls.machines.controls[i]', *ngFor='let machine of log.machines; let i=index')
      block addButtons
        +row()
          +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
            button.green(mz-button, type='button', float='true', (click)='onEntryAdd()')
              i(mz-icon-mdi, [icon]="'plus'")
          +col()(class="s1 m1 l1")
            button.red(mz-button, type='button', float='true', (click)='onEntryRemove()', [disabled]='captureForm.controls.machines.controls.length <= 1')
              i(mz-icon-mdi, [icon]="'minus'")
      block buttonRow
        +updateLogButtonRow("{{ 'Log.send_report' | translate:lang }}", "{{ 'Log.finish_report' | translate:lang }}", "{{ 'Log.back_report' | translate:lang }}")