ion-content
  form([formGroup]='gmpPackingPreopForm', (ngSubmit)='save(myForm)')
    gmp-packing-preop-area(*ngFor='let area of log.areas.logs; let i=index', [area]='area', [actions]='log.areas.corrective_actions', [group]='gmpPackingPreopForm.controls.areas.controls[i]')
    ion-card
      ion-card-header
        | {{ 'Log.complementary_information' | translate:lang }}
      ion-card-content
        ion-grid
          ion-row
            ion-col
              ion-item
                ion-label(color='primary', floating) {{ 'Log.notes_of' | translate:lang }} {{log.log_name}}
                ion-textarea(formControlName='notes')
          ion-row
            ion-col
              ion-item
                ion-label(color='primary', floating) {{ 'Log.external_link_of' | translate:lang }} {{log.log_name}}
                ion-textarea(formControlName='album_url')
    div(text-center)
      button(ion-button, icon-end, round)
        | {{ 'Log.send_report' | translate:lang }}
        ion-icon(name='send')
