include ../../../logmaster-common-mixins.pug
include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  log-header([log]="logHeaderData")
  form([formGroup]='gmpPackingPreopForm', (ngSubmit)='save(myForm)')
    gmp-packing-preop-area(*ngFor='let area of log.areas.logs; let i=index', [area]='area', [actions]='log.areas.corrective_actions', [group]='gmpPackingPreopForm.controls.areas.controls[i]')
    +card()
      +cardHeader("{{ 'Log.complementary_information' | translate:lang }}")
      +cardContent()
        +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")
        +errorMessage('!gmpPackingPreopForm.controls.notes.valid && gmpPackingPreopForm.controls.notes.dirty', "{{ 'LogErrors.gmp-packing-preop.comment_length' | translate:lang }}")
        +textArea("{{ 'Log.external_link_of' | translate:lang }} {{log.log_name}}", "ios-link", "album_url")
        +errorMessage('!gmpPackingPreopForm.controls.album_url.valid && gmpPackingPreopForm.controls.album_url.dirty', "{{ 'LogErrors.gmp-packing-preop.album_length' | translate:lang }}")
    +sendLogButton("{{ 'Log.send_report' | translate:lang }}")

//-+fullLogWrapper()
  log-header([log]="logHeaderData")
  form([formGroup]='gmpPackingPreopForm', (ngSubmit)='save(myForm)')
    gmp-packing-preop-area(*ngFor='let area of log.areas.logs; let i=index', [area]='area', [actions]='log.areas.corrective_actions', [group]='gmpPackingPreopForm.controls.areas.controls[i]')
    +card()
      +cardHeader("{{ 'Log.complementary_information' | translate:lang }}")
      +cardContent()
        //-ion-item
          ion-label(color='primary', floating) 
            ion-icon(name="clipboard")
            |  {{ 'Log.notes_of' | translate:lang }} {{log.log_name}}
          ion-textarea(formControlName='notes')
        +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")
        +errorMessage('!gmpPackingPreopForm.controls.notes.valid && gmpPackingPreopForm.controls.notes.dirty', "{{ 'LogErrors.gmp-packing-preop.comment_length' | translate:lang }}")
        //-ion-item
          ion-label(color='primary', floating)
            ion-icon(name="ios-link")
            |  {{ 'Log.external_link_of' | translate:lang }} {{log.log_name}}
          ion-textarea(formControlName='album_url')
        +textArea("{{ 'Log.external_link_of' | translate:lang }} {{log.log_name}}", "ios-link", "album_url")
        +errorMessage('!gmpPackingPreopForm.controls.album_url.valid && gmpPackingPreopForm.controls.album_url.dirty', "{{ 'LogErrors.gmp-packing-preop.album_length' | translate:lang }}")
    +sendLogButton("{{ 'Log.send_report' | translate:lang }}")
    //-div(text-center)
      button(ion-button, icon-end, round)
        | {{ 'Log.send_report' | translate:lang }}
        ion-icon(name='send')
