include globals.pug

div.row
  div.col.s12(
    '*ngFor'='let log of logs'
  )
    //-+link(href='logs/{{log.suffix}}')(style="color: black;")
    +routerLink("['/log', log.suffix]")(style="color: black;")
      mz-card('[hoverable]'='true')
        mz-card-content
          ='{{ log.name }}'