include globals.pug

div.row
  div.col.s12(
    '*ngFor'='let log of logs'
  )
    //-+link(href='inventory/{{log.suffix}}')(style="color: black;")
    +routerLink("['/inventory', log.suffix]")(style="color: black;")
      mz-card('[hoverable]'='true')
        mz-card-content
          ='{{ log.name }}'

  div.col.s12.center-align('*ngIf'='hasInventory == false')
    h5
      i.mdi.mdi-alert-octagon.red-text
      ='{{ langManager.messages.inventoryList.noInventory }}'