div([formGroup]='areaForm')
  mz-card
    mz-card-title.blue-text
      | {{area.name}}
      i(mz-icon-mdi, [icon]="'cube-outline'")
    mz-card-content
      .row
        mz-timepicker-container.col.s12.m12.l12
          i(mz-icon-mdi, mz-input-prefix, [icon]="'clock'")
          input(mz-timepicker, type='text', id='time_{{area.id}}', [label]="'Hora'", formControlName='time', [options]="timeOptions")
      ng-template(ngFor, let-j='index', let-type, [ngForOf]='area.types')
        gmp-packing-preop-type([type]='type')
        gmp-packing-preop-item(*ngFor='let item of type.items; let i = index', [item]='item', [actions]='actions', [itemGroup]='areaForm.controls.items.controls[i + offset[j]]')
      .row
        mz-textarea-container.col.s12.m12.l12
          i(mz-icon-mdi, mz-textarea-prefix, [icon]="'clipboard-text'")
          textarea#notes-textarea(mz-textarea, [label]="'Notas de ' + area.name", length='65535', formControlName='notes')
      .row
        mz-input-container.col.s12.m12.l12
          i(mz-icon-mdi, mz-input-prefix, [icon]="'broom'")
          textarea#person-textarea(mz-textarea, [label]="'Persona a cargo de la sanitización de ' + area.name", length='255', formControlName='person_performing_sanitation')
