ion-content(hide-fab, [class.no-scroll]='!scrollAllowed')
  ion-list
    ng-template(ngFor, let-type, [ngForOf]='inventory', let-isFirst='first')
      div(*ngIf='type.items.length > 0')
        gmp-packing-scale-calibration-inventory-list([type]='type', [printHeader]='isFirst')
    div(*ngIf='emptyInventoryFlag == true')
      ion-item(text-wrap)
        ion-icon(item-start, name='warning', color='danger')
        ion-label
          h1
            | No items for this log. Add some by using the 
            ion-icon(name='add-circle', color='open')
            |  button below
  ion-fab(right, bottom)
    button(ion-fab, color='open', (click)='addItem()')
      ion-icon(name='add')