include ../../../inventory-ionic-materialize.pug

//-For Ionic version uncomment the next line, Dragula variables are found here
//-+inventoryListWrapper()([dragula]='bagName', [dragulaModel]='items')
  +inventoryItemComponent('gmp-packing-hand-washing', 'item', 'items')([item]='item')
//-For ng2-Materialize version uncomment the next line, Dragula variables were placed on the inventory.pug file of this log
+inventoryListWrapper()
  +inventoryItemComponent('gmp-packing-hand-washing', 'item', 'items')([item]='item')