include ../../../../inventory-ionic-materialize.pug

+inventoryWrapper()
  +inventoryListsWrapper('activeInventory == true')('gmp-packing-pest-control-inspection-flytrap-area-verification-inventory-list', [items]='inventory')
    +inventoryTitleWrapper()
      +inventoryTitleHandler()
      +inventoryTitleColumn("{{ 'InventoryLists.id' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.order' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.name' | translate:lang }}")
      +inventoryTitleToggle()
    //-For Ionic version uncomment the next line, Dragula variables are found inside the .list.pug file
    //-+inventoryList('gmp-packing-pest-control-inspection-flytrap')([items]='inventory')
    //-For ng2-Materialize version uncomment the next two lines, we have to pass Dragula variables here
    //-+inventoryList('gmp-packing-pest-control-inspection-flytrap')([items]='inventory', [dragula]='bagName', [(dragulaModel)]='inventory')
    +inventoryListAddItemFooter('gmp-packing-pest-control-inspection-flytrap-area-verification-inventory')
  +inventoryEmptyMessage()
  +inventoryAddButton()