<!DOCTYPE html>

<html>
<head>
    <!-- Tell the client we are using UTF-8 character encoding -->
    <meta charset="UTF-8">
    
    <!-- Add this line for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add info about the company -->
    <meta name="company" content="Jacobs Farm - Del Cabo">
    
    <!-- Import Normalize CSS -->
    <link rel="stylesheet" href="/espresso/external/normalize/normalize.css">
    
    <!-- Import Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link href="/espresso/external/google/icons-extras.css" rel="stylesheet">

    <!-- Import jQuery -->
    <script src="/espresso/external/jquery/jquery-1.12.3.min.js"></script>

    <!-- Import Materialize -->
    <link rel="stylesheet" 
        href="/espresso/external/materialize/css/materialize.min.css">
    <script src="/espresso/external/materialize/js/materialize.min.js"></script>

    <!-- Import language controller -->
    <script src="/espresso/source/client/controllers/language.js"></script>

    <!-- Initialize -->
    <script type="text/javascript">
        $(window).load(function(){
            changeLanguage(localStorage.defaultLanguage);
        });
    </script>
    
    <!-- TO-DO: Add favicons -->
    
    <!-- Import the stylesheet of the application -->
    <link rel="stylesheet" href="/espresso/data/stylesheets/espresso.css">
    
    <!-- Page title -->
    <title>Jacobs Farm | Del Cabo | Dashboard</title>
</head>

<body>
    <!-- Page top bar -->
    <header><div class="navbar-fixed"><nav><div class="nav-wrapper green">
        
        <!-- Language menu -->
        <ul class="right">
            <li>
                <!-- Language menu icon -->
                <a class="dropdown-button" 
                    data-activates="language-menu" href="">
                    <i class="material-icons">language</i>
                </a>
                
                <!-- Language options -->
                <ul id="language-menu" class="dropdown-content">
                    <li><a class="language_spanish green-text text-accent-4" href="" onclick="setLanguage('es');">
                        
                    </a></li>
                    <li><a class="language_english green-text text-accent-4" href="" onclick="setLanguage('en');">
                        
                    </a></li>
                </ul>
            </li>
        </ul>
        
        <!-- Drawer menu -->
        <ul id="slide-out" class="side-nav fixed" 
            data-collapsible="accordion">
            <li class="logo-area">
            </li>
            
            <!-- Account menu -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="teal collapsible-header">
                        <i class="material-icons md-light md-36 field-icon">
                            account_circle
                        </i>
                        <span id="account-name"></span>
                    </a>
                    <div class="collapsible-body"><ul>
                            <li><a class="edit_profile waves-effect waves-green" href="">
                                
                            </a></li>
                            <li><a class="logout waves-effect waves-green" 
                                href="" id="logout">
                                
                            </a></li>
                        </ul></div>
                    </li>
                </ul>
            </li>
            
            <!-- Basic actions -->
            <li><a class="waves-effect waves-green" href="home">
                <i class="material-icons md-dark md-24 field-icon">
                    home
                </i>
                <span class="home"></span>
            </a></li>
            <li><a class="waves-effect waves-green" href="">
                <i class="material-icons md-dark md-24 field-icon">
                    announcement
                </i>
                <span class="auth">
                    
                </span>
                <span class="green accent-4 new badge">99</span>
            </a></li>
            
            <!-- Programs navigation -->
            <div id="programs-list">
                <li><a href="">
                    <i class="material-icons md-dark md-24 field-icon">
                        build
                    </i>
                    <span>GMP</span>
                </a></li>
                <li><a href="">
                    <i class="material-icons md-dark md-24 field-icon">
                        build
                    </i>
                    <span>SSOP</span>
                </a></li>
            </div>
            
            <li><a class="waves-effect waves-green" href="report-problem">
                <i class="material-icons md-dark md-24 field-icon">
                    report_problem
                </i>
                <span class="report_problem">
                    
                </span>
            </a></li>
        </ul>
        
        <!-- Menu button -->
        <a href="" data-activates="slide-out" class="button-collapse">
            <i class="material-icons mdi-navigation-menu">
                menu
            </i>
        </a>
        
    </div></nav></div></header>
    
    <!-- Page content -->
    <main class="with-side-menu"><div class="container" id="page-content">
    </div></main>
    
    <!-- Import our controllers -->
    <script 
        src="/espresso/source/client/controllers/report-problem.js"></script>
    <script src="/espresso/source/client/controllers/main.js"></script>

</body>
</html>