include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf='showLog == true')
    block header
      log-header([log]='logHeaderData', [dateGroup]='captureForm')
    form([formGroup]='captureForm', (ngSubmit)='save()')
      +card(true)
        +cardContent()
          +list
            gmp-packing-hand-washing-item(*ngFor='let item of log.items; let i = index', [item]='item', [itemGroup]='captureForm.controls.items.controls[i]')
      +card(true)
        +cardHeader("{{ 'Log.complementary_information' | translate:lang }}")
        +cardContent()
          +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")([length]="maxLengths.notes")
          +errorMessage("!captureForm.controls.notes.valid && captureForm.controls.notes.value.length > maxLengths.notes", "{{ 'LogErrors.gmp-packing-hand-washing.notes_max' | translate:lang }}")
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")