include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    form([formGroup]='captureForm', (ngSubmit)='save(myForm)')
      +card(true)
        +cardContent()
          +list
            gmp-packing-hand-washing-item(*ngFor='let item of log.items; let i = index', [item]='item', [itemGroup]='captureForm.controls.items.controls[i]')
      +card(true)
        +cardHeader("{{ 'Log.complementary_information' | translate:lang }}")
        +cardContent()
          +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")
      +sendLogButton("{{ 'Log.send_report' | translate:lang }}")