extends ../../report-viewer.common.pug

block loader
  gap-packing-water-resource-report-loader(#reports, *ngFor='let report of reports', [report]='report', [activeReport]='activeReport', [suffix]='suffix', [footer]='footer', (removed)='onRemoved($event)')