include ../../../log-ionic-materialize.pug

div([formGroup]='registerForm')
  +card()
    +cardContent()
      +row()
        +col()(class="s3 m3 l3")
          +dateInput(false, "{{ 'VehicleCleaning.date' | translate:lang }}", 'date', 'date', null, 'dateConfig')
        +col()(class="s3 m3 l3")
          +textInput("{{ 'VehicleCleaning.license_plate' | translate:lang }}", null, 'license_plate', 'text', 'license_plate', null)
        +col()(class="s3 m3 l3")
          +textInput("{{ 'VehicleCleaning.disinfection' | translate:lang }}", null, 'disinfection', 'number', 'disinfection', null)
        +col()(class="s3 m3 l3")
          +select("{{ 'VehicleCleaning.water_rinse' | translate:lang }}", false, "water_rinse", "popover", null, "{{ 'VehicleCleaning.water_rinse' | translate:lang }}")
            //-+option('N/A', 'null', false, false)
            +option("{{ 'Log.yes' | translate:lang }}", "true", false, false)
            +option("{{ 'Log.no' | translate:lang }}", "false", false, false)
      +row()
        +col()(class="s3 m3 l3")
          +select("{{ 'VehicleCleaning.conditions' | translate:lang }}", false, "conditions", "popover", null, "{{ 'VehicleCleaning.conditions' | translate:lang }}")
            //-+option('N/A', 'null', false, false)
            +option("{{ 'Log.acceptable' | translate:lang }}", "true", false, false)
            +option("{{ 'Log.unacceptable' | translate:lang }}", "false", false, false)
        +col()(class="s3 m3 l3")
          +select("{{ 'VehicleCleaning.contamination_free' | translate:lang }}", false, "contamination_free", "popover", null, "{{ 'VehicleCleaning.contamination_free' | translate:lang }}")
            //-+option('N/A', 'null', false, false)
            +option("{{ 'Log.yes' | translate:lang }}", "true", false, false)
            +option("{{ 'Log.no' | translate:lang }}", "false", false, false)
        +col()(class="s3 m3 l3")
          +textInput("{{ 'VehicleCleaning.corrective_action' | translate:lang }}", null, 'corrective_action', 'text', 'corrective_action', null)
        +col()(class="s3 m3 l3")
          +textInput("{{ 'VehicleCleaning.initials' | translate:lang }}", null, 'initials', 'text', 'initials', null)

+row()
  +col()(class="s12 m12 l12")
    button(style='float: right;', mz-button, (click)='onAddRegister()')= "{{ 'VehicleCleaning.save' | translate:lang }} "
      i(mz-icon-mdi, [icon]="'send'")
