include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  //-+cardHeader("{{item.name}}")
  +cardContent()
    //-+textInput("{{ 'Log.reading' | translate:lang }}", false, "test", "number")
    //-+textInputLine("{{item.name}}", "{{ 'Log.reading' | translate:lang }}", false, "test", "number")
    p() {{item.name}}
    +row()
      +col()(class="s3 m3 l3")
        +textInputLine("{{ 'Log.reading' | translate:lang }}", false, false, "test", "number")
      +col()(class="s3 m3 l3")
        +select("{{ 'Log.units' | translate:lang }}", false, "unit_id", "popover")
          +option("N/A", 'null', false, false)
          +option("{{unit.symbol}}", "unit.id", false, false)(*ngFor='let unit of units')
      +col()(class="s2 m2 l2")
        +textInputLine("{{ 'Log.quantity_abbr' | translate:lang }}", false, false, "quantity", "number")
      +col()(class="s2 m2 l2")
        +select("{{ 'Log.status' | translate:lang }}", false, "status", "popover")
          +option("{{ 'Log.pass' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.fail' | translate:lang }}", "false", false, false)
      +col()(class="s2 m2 l2")
        +checkbox("{{ 'Log.sanitized_base' | translate:lang }}", false, "is_sanitized", "sanitized_{{item.id}}")