extends ../../capture.common.pug

block reportViewer
  gap-packing-harvest-machine-cleaning-report-viewer

block logViewer
  gap-packing-harvest-machine-cleaning-log-list([suffix]='suffix', *ngIf='newLog !== true', (startLog)='onOpenLog($event)')
  gap-packing-harvest-machine-cleaning-log(*ngIf='newLog == true', [log]='logData', (closeLog)='onCloseLog($event)')