include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  log-header([log]="logHeaderData")
  form([formGroup]='gmpPackingScaleCalibrationForm', (ngSubmit)='save(myForm)')
    gmp-packing-scale-calibration-type(*ngFor='let type of log.types.scales; let i=index', [type]='type', [units]='log.types.units', [group]='gmpPackingScaleCalibrationForm.controls.types.controls[i]')
    +card()
      +cardHeader("{{ 'Log.complementary_information' | translate:lang }}")
      +cardContent()
        +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")
        +textArea("{{ 'Log.corrective_action_of' | translate:lang }} {{log.log_name}}", "checkmark-circle", "corrective_action")
    //-ion-card
      ion-card-header
        | {{ 'Log.complementary_information' | translate:lang }}
      ion-card-content
        ion-item
          ion-label(color='primary', floating) {{ 'Log.notes_of' | translate:lang }} {{log.log_name}}
          ion-textarea(formControlName='notes')
        ion-item
          ion-label(color='primary', floating) {{ 'Log.corrective_action_of' | translate:lang }} {{log.log_name}}
          ion-textarea(formControlName='corrective_action')
    +sendLogButton("{{ 'Log.send_report' | translate:lang }}")
