<li><a class='nav-link waves-effect waves-green' href="view-users">
    <i class="mdi mdi-account-multiple md-dark md-24 field-icon">
    </i>
    <span class="users_sidenav"></span>
</a></li>
<li><a class='nav-link waves-effect waves-green' href="add-zone">
    <i class="mdi mdi-city md-dark md-24 field-icon"></i>
    <span class="zones"></span>
</a></li>
<li><a class='nav-link waves-effect waves-green' href="supervisors">
    <i class="mdi mdi-account-star md-dark md-24 field-icon"></i>
    <span class="supervisors"></span>
</a></li>
<li><a class='nav-link waves-effect waves-green' href="suppliers">
    <i class="mdi mdi-cube-outline md-dark md-24 field-icon"></i>
    <span class="suppliers"></span>
</a></li>
<li><a class='nav-link waves-effect waves-green' href="clients">
    <i class="mdi mdi-account-multiple md-dark md-24 field-icon"></i>
    <span class="clients"></span>
</a></li>
<li><a class='nav-link waves-effect waves-green' href="products">
    <i class="mdi mdi-cube md-dark md-24 field-icon"></i>
    <span class="products"></span>
</a></li>



<!--<li><ul class='collapsible collapsible-accordion'>
    <li>
        <a class='collapsible-header program-button'>
            <i class="mdi mdi-domain md-dark md-24 field-icon"></i>
            <span class="zones_sidenav"></span>
        </a>
        <div class='collapsible-body'><ul>
            <li><a class='nav-link waves-effect waves-green zones' href="add-zone">
                
            </a></li>
            <li><a class='nav-link waves-effect waves-green inventory' 
                href="manage-inventory">
                
            </a></li>
        </ul></div>
    </li>
</ul></li>-->