<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-domain md-36 field-icon"></i>
            <div class="signatures_catalog"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div class="row">
    <div id="zone_select_wrapper" class="input-field col s12 m12 l12">
        
    </div>
</div>

<div id="no_supervisors" class="no_sign" style="display: none;">
    <h4><i class="mdi mdi-alert-octagon md-36 field-icon red-text"></i>
        <div class="no_supervisors"></div>
    </h4>
</div>

<div class='row'><div id="signatures_wrapper">
    
</div></div>