<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-account-multiple md-36 field-icon"></i>
            <div class="supervisor_list"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div class="row">
    <div id="zone_select_wrapper" class="input-field col s12 m12 l12">
        
    </div>
</div>

<div class="row">
    <div id="supervisor_select_wrapper" class="input-field col s12 m12 l12">
        
    </div>
</div>

<div id="employee_table_wrapper">
</div>

<div id="no_supervisors" class="no_sign" style="display: none;">
    <div class="divider"></div>
    <h4><i class="mdi mdi-alert-circle md-36 field-icon"></i>
        <div class="no_supervisors"></div>
    </h4>
</div>

<div id="no_employees" class="no_sign" style="display: none;">
    <div class="divider"></div>
    <h4><i class="mdi mdi-alert-circle md-36 field-icon"></i>
        <div class="no_employees"></div>
    </h4>
</div>