extends ../../report.common.pug

block report
  div(#report_body)
    table
      tbody
        tr
          td {{ 'Log.inspection_start_date' | translate:lang }}: {{report.inspection_start_date | l10nDate:defaultLocale:'longDate'}}
          td {{ 'Log.inspection_start_time' | translate:lang }}: {{report.inspection_start_time}}
        tr
          td {{ 'Log.inspection_end_date' | translate:lang }}: {{report.inspection_end_date | l10nDate:defaultLocale:'longDate'}}
          td {{ 'Log.inspection_end_time' | translate:lang }}: {{report.inspection_end_time}}
        tr
          td(colspan='2') {{ 'Log.commodities' | translate:lang }}: {{report.commodities}}
        tr
          td(colspan='2') {{ 'Log.pounds' | translate:lang }}: {{report.pounds}}
        tr
          td(colspan='2') {{ 'Log.grower' | translate:lang }}: {{report.grower}}
        tr
          td(colspan='2') {{ 'Log.block_code' | translate:lang }}: {{report.block_code}}
        tr
          td(colspan='2') {{ 'Log.contact' | translate:lang }}: {{report.contact}}
        tr
          td(colspan='2') {{ 'Log.location' | translate:lang }}: {{report.location}}
        tr
          td(colspan='2') {{ 'Log.country' | translate:lang }}: {{report.country}}
    p()= ' '
    table
      tbody
        tr
          th.numberColumn
          th.questionColumn {{ 'Log.question' | translate:lang }}
          th.answerColumn {{ 'Log.status' | translate:lang }}
          th.commentColumn {{ 'Log.comment' | translate:lang }}
        ng-template(ngFor, let-item, [ngForOf]='report.items', let-i='index + 1')
          tr(gap-packing-harvest-block-inspection-report-item, [item]='item', [num]='i')