include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true || showLog == undefined")
    log-header([log]="logHeaderData")
    form([formGroup]='captureForm', (ngSubmit)='save(myForm)')
      +card()
        +cardContent()
          +timeInput(true, "'{{ 'Log.time' | translate:lang }}'", "time", "time")
      gmp-packing-thermo-calibration-item(*ngFor='let item of log.items; let i = index', [item]='item', [itemGroup]='captureForm.controls.items.controls[i]')
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")