ion-card([hidden]="!(activeReport == 'any' || activeReport == report.report_id)")
  ion-card-content
    ion-grid
      ion-row(center)
        ion-col(col-12, col-sm-6, col-md-6, col-lg-9)
          h1 {{report.creation_date}}
        ion-col.flexcontainer(col-4, col-sm-2, col-md-2, col-lg-1)
          button(ion-fab, mini, color='primary', [hidden]='hasEmail == undefined')
            ion-icon(name='mail')
        ion-col.flexcontainer(col-4, col-sm-2, col-md-2, col-lg-1)
          form(method='POST', target='_blank', action='http://localhost/espresso/source/server/report/reportPDF.php', ngNoForm)
            input(type='hidden', name='lang', [ngModel]='pdfReport.lang')
            input(type='hidden', name='content', [ngModel]='pdfReport.content')
            input(type='hidden', name='style', [ngModel]='pdfReport.style')
            input(type='hidden', name='company', [ngModel]='pdfReport.company')
            input(type='hidden', name='address', [ngModel]='pdfReport.address')
            input(type='hidden', name='logo', [ngModel]='pdfReport.logo')
            input(type='hidden', name='orientation', [ngModel]='pdfReport.orientation')
            input(type='hidden', name='fontsize', [ngModel]='pdfReport.fontsize')
            input(type='hidden', name='footer', [ngModel]='pdfReport.footer')
            input(type='hidden', name='supervisor', [ngModel]='pdfReport.supervisor')
            input(type='hidden', name='signature', [ngModel]='pdfReport.signature')
            button(ion-fab, mini, color='pdf', (click)='printPDFReport()')
              ion-icon(name='ios-paper')
        ion-col.flexcontainer(col-4, col-sm-2, col-md-2, col-lg-1, *ngIf='!showReport')
          button(ion-fab, mini, color='open', (click)='openHTMLReport()')
            ion-icon(name='open')
        ion-col.flexcontainer(col-4, col-sm-2, col-md-2, col-lg-1, *ngIf='showReport')
          button(ion-fab, mini, color='close', (click)='closeHTMLReport()')
            ion-icon(name='close')
#tableWrapper.tableWrapper([hidden]='!showReport')
  div(dynamicComponentContainer)
