extends ../../capture.common.pug

block reportViewer
  gmp-packing-ozone-water-report-viewer

block logViewer
  gmp-packing-ozone-water-log-list([suffix]='suffix', *ngIf='newLog !== true', (startLog)='onOpenLog($event)')
  gmp-packing-ozone-water-log(*ngIf='newLog == true', [log]='logData', (closeLog)='onCloseLog($event)')