report-header([header]="header")
mz-card
  mz-card-content
    table(#report_body)
      thead
        tr
          th.numberColumn {{ 'Log.number_abbr' | translate:lang }}
          th.areaColumn {{ 'Log.area' | translate:lang }}
          th.securedColumn {{ 'Log.secured' | translate:lang }}
          th.statusColumn {{ 'Log.conditions' | translate:lang }}
          th.activityColumn {{ 'Log.activity' | translate:lang }}
          th.actionColumn {{ 'Log.corrective_action' | translate:lang }}
      tbody
        ng-template(ngFor, let-area, [ngForOf]='report.rooms')
          tr(gmp-self-inspection-pest-control-report-area, [area]='area')
          ng-template(ngFor, let-item, [ngForOf]='area.stations')
            tr(gmp-self-inspection-pest-control-report-item, [item]='item')
        tr
          td.fullColumn(colspan='7') {{ 'Log.notes' | translate:lang }}: {{report.notes}}