extends ../../report-viewer.common.pug

block loader
  gmp-packing-harvest-tool-report-loader(#reports, *ngFor='let report of reports', [report]='report', [activeReport]='activeReport', [suffix]='suffix', [footer]='footer', (removed)='onRemoved($event)')