td.register-table-cell.no-wrap-table-cell.dateColumn {{register['capture_date']}}
td.register-table-cell.zoneColumn {{register['zone']}}
td.register-table-cell.plateColumn {{register['license_plate']}}
td.register-table-cell.disinfectionColumn {{register['disinfection']}}
td.register-table-cell.waterColumn(*ngIf='register.water_rinse === 1') {{ 'Log.yes' | translate:lang }}
td.register-table-cell.waterColumn(*ngIf='register.water_rinse === 0') {{ 'Log.no' | translate:lang }}
td.register-table-cell.waterColumn(*ngIf='register.water_rinse === null')
td.register-table-cell.conditionsColumn(*ngIf='register.conditions === 1') {{ 'Log.acceptable' | translate:lang }}
td.register-table-cell.conditionsColumn(*ngIf='register.conditions === 0') {{ 'Log.unacceptable' | translate:lang }}
td.register-table-cell.conditionsColumn(*ngIf='register.conditions === null')
td.register-table-cell.contaminationColumn(*ngIf='register.contamination_free === 1') {{ 'Log.yes' | translate:lang }}
td.register-table-cell.contaminationColumn(*ngIf='register.contamination_free === 0') {{ 'Log.no' | translate:lang }}
td.register-table-cell.contaminationColumn(*ngIf='register.contamination_free === null')
td.register-table-cell.actionColumn {{register['corrective_action']}}
td.register-table-cell.initialsColumn {{register['initials']}}
//- pending cell, informative
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id === null && register.signable === 0')
  div.pending-cell {{ 'VehicleCleaning.pending' | translate:lang }}
//- sign, button
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id === null && register.signable === 1')
  div.signature-button((click)='$event.stopPropagation();onSignClick()') {{ 'VehicleCleaning.sign' | translate:lang }}
//- signature cell, informative, supervisor basis
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id !== null && register.signature_path !== null')
  img.signature-cell(src="{{ 'http://localhost/espresso/data/signatures/' + register.signature_path }}")
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id !== null && register.signature_path === null')
  div.approved-register {{ 'VehicleCleaning.approved' | translate:lang }}
//- signature cell, gp supervisor
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id === null && register.gp_signable === 0')
  div.pending-cell {{ 'VehicleCleaning.pending' | translate:lang }}
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id === null && register.gp_signable === 1')
  div.signature-button((click)='$event.stopPropagation();onGpSignClick()') {{ 'VehicleCleaning.sign' | translate:lang }}
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id !== null && register.gp_signature_path !== null')
  img.signature-cell(src="{{ 'http://localhost/espresso/data/signatures/' + register.gp_signature_path }}")
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id !== null && register.gp_signature_path === null')
  div.approved-register {{ 'VehicleCleaning.approved' | translate:lang }}
