include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf='showLog == true')
    block header
      log-header([log]='logHeaderData', [dateGroup]='captureForm')
    form([formGroup]='captureForm', (ngSubmit)='save()')
      +card(true)
        +cardContent()
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s6 m6 l6")
              +slimDateInput(false, "{{ 'Log.inspection_start_date' | translate:lang }}", 'inspection_start_date', 'inspection_start_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
            +col()(class="s6 m6 l6")
              +slimTimeInput(false, "{{ 'Log.inspection_start_time' | translate:lang }}", 'inspection_start_time', 'inspection_start_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s6 m6 l6")
              +slimDateInput(false, "{{ 'Log.inspection_end_date' | translate:lang }}", 'inspection_end_date', 'inspection_end_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
            +col()(class="s6 m6 l6")
              +slimTimeInput(false, "{{ 'Log.inspection_end_time' | translate:lang }}", 'inspection_end_time', 'inspection_end_time', null, 'timeConfig')(class='medium-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "commodities", "text", "commodities", "{{ 'Log.commodities' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "grower", "text", "grower", "{{ 'Log.grower' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "block_code", "text", "block_code", "{{ 'Log.block_code' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "contact", "text", "contact", "{{ 'Log.contact' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "location", "text", "location", "{{ 'Log.location' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "country", "text", "country", "{{ 'Log.country' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +slimTextInput(null, null, "units", "number", "units", "{{ 'Log.units' | translate:lang }}")(class='slim-text-input no-margin-top')
          +row()(style="margin-bottom: 0px; margin-top: 4px;")
            +col()(class="s12 m12 l12")
              +select("{{ 'Log.unit_type' | translate:lang }}", false, "unit_type", "popover")
                +option("N/A", 'null', false, false)
                +option("{{unit['name_' + lang]}}", "unit.id", false, false)(*ngFor='let unit of log.unit_types')
      +card(true)
        +cardContent()
          gap-packing-harvest-block-inspection-item([item]='item', [itemForm]='captureForm.controls.items.controls[i]', *ngFor='let item of log.items; let i=index')
      block buttonRow
        +updateLogButtonRow("{{ 'Log.send_report' | translate:lang }}", "{{ 'Log.finish_report' | translate:lang }}", "{{ 'Log.back_report' | translate:lang }}")