extends ../log/gmp.packing.glass.brittle.log.pug

block header
  h4 {{log.log_name}}
  .divider
  log-header([log]="logHeaderData")

block buttonRow
  +authorizationButtonRow("Send", "Authorize", "Delete", "Return")