include ../../../area-manager-ionic-materialize.pug

+inventoryAreaWrapper()
  +inventoryAreaHandler()
  +inventoryAreaColumn('{{area.position}}')
  +inventoryAreaColumn('{{area.id}}')
  +inventoryAreaColumn('{{area.name}}')
  +inventoryAreaEdit()