include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  +cardHeader("{{item.name}}")
  +cardContent()
    +row()
      +col()(class="s4 m4 l4")
        +radioGroup("{{ 'Log.secured' | translate:lang }}", false, "is_secured")
          +radio("{{ 'Log.yes' | translate:lang }}", false, "true", false, false, "secured_{{item.id}}", "secured_{{item.id}}")([formControl]='itemForm.controls.is_secured', [value]='true')
          +radio("{{ 'Log.no' | translate:lang }}", false, "false", false, false, "unsecurred_{{item.id}}", "secured_{{item.id}}")([formControl]='itemForm.controls.is_secured', [value]='false')
      +col()(class="s4 m4 l4")
        +radioGroup("{{ 'Log.conditions' | translate:lang }}", false, "condition")
          +radio("{{ 'Log.acceptable' | translate:lang }}", false, "true", false, false, "acceptable_{{item.id}}", "is_acceptable_{{item.id}}")([formControl]='itemForm.controls.condition', [value]='true')
          +radio("{{ 'Log.unacceptable' | translate:lang }}", false, "false", false, false, "unacceptable_{{item.id}}", "is_acceptable_{{item.id}}")([formControl]='itemForm.controls.condition', [value]='false')
      +col()(class="s4 m4 l4")
        +radioGroup("{{ 'Log.activity' | translate:lang }}", false, "activity")
          +radio("{{ 'Log.yes' | translate:lang }}", false, "true", false, false, "activity_{{item.id}}", "activity_{{item.id}}")([formControl]='itemForm.controls.activity', [value]='true')
          +radio("{{ 'Log.no' | translate:lang }}", false, "false", false, false, "no_activity_{{item.id}}", "activity_{{item.id}}")([formControl]='itemForm.controls.activity', [value]='false')
    +row()(*ngIf='itemForm.controls.condition.value === false || itemForm.controls.activity.value === true')
      +col()(class="s12 m12 l12")
        +textArea("{{ 'Log.corrective_action_of' | translate:lang }} {{item.name}}", "comment", "corrective_actions")
    +row()
      +col()(class="s12 m12 l12")
        +textArea("{{ 'Log.observations_of' | translate:lang }} {{item.name}}", "comment", "observations")