// Este archivo contiene todas las funciones y variables globales que son 
// necesarias para crear la hoja de estilo para las vistas del proyecto
@tabletScreenWidth: 600px;
@desktopScreenWidth: 992px;
@largeDesktopScreenWidth: 1200px;
@pageBgColor: rgb(245, 245, 245);
@sideNavWidth: 300px;

// Cambia el color de fondo de la pagina
body {
  background-color: @pageBgColor;
}

// Esta clase permitira a cualquier boton, flotar permanentemente en la esquina 
// inferior derecha de la pantalla
.floating-btn {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
}

// Hace que los textos en las etiquetas de los campos de captura de los 
// formularios sean gruesos y negros, esto fue una peticion del cliente pues 
// tenian dispositivos en donde la combinacion del color gris claro con el 
// tamaño chico de letra no permitia que el texto se apreciara correctamente en 
// dichas pantallas
label {
  font-weight: 900;
  color: black !important;
}

input:disabled {
  color: black !important;
}

// Hace los enlaces de los elementos dentro de menus colapsables en el menu de 
// navegacion lateral sean gruesos por las mismas razones especificadas 
// anteriormente
.side-nav li > a {
  font-weight: 900 !important;
}

.spinner{
  width: 240px;
  height: 240px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

.splash-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  width: 100%;
}

/* Workaround para el problema del espacio en blanco generado por checkboxes */

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: -9999px;      /* added */
}
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: -9999px;      /* added */
}