include ../../../log-ionic-materialize.pug

+card()([formGroup]='dayForm')
  +cardHeader("{{ 'Log.day' | translate:lang }} {{day.day_num}}")
  +cardContent()
    +row()
      +col()(class='col s12 m12 l12')
        +dateInput(false, "{{ 'Log.date' | translate:lang }}", "date", "date_{{day.day_num}}", null, "langManager.messages.global.datePickerConfig")
    gmp-packing-harvest-tool-type([type]='type', [dayNum]='day.day_num', [typeForm]='dayForm.controls.types.controls[i]', *ngFor='let type of day.types; let i=index')