extends ../../report-viewer.common.pug

block overview
  gmp-packing-pest-control-inspection-interior-report-overview([overview]='overview', *ngIf='overview != null')

block loader
  gmp-packing-pest-control-inspection-interior-report-loader(#reports, *ngFor='let report of reports', [report]='report', [activeReport]='activeReport', [suffix]='suffix', [footer]='footer', (removed)='onRemoved($event)')