<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="material-icons md-48 field-icon">person</i>
            <div class="new_user"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<!-- The add user form -->
<form action="" id="add-user">
    <!--First row-->
    <!--Account ID and Username-->
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="text" 
                id="login-name" name="login-name">
            <label class="username" for="login-name"></label>
        </div>
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="number" 
                id="user-id" name="user-id">
            <label class="employee_id" for="user-id"></label>
        </div>
    </div>
    <!--Second row-->
    <!--Name and Last Name-->
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="text" 
                id="first-name" name="first-name">
            <label class="first_name" for="first-name"></label>
        </div>
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="text" 
                id="last-name" name="last-name">
            <label class="last_name" for="last-name"></label>
        </div>
    </div>

    <!--Third row-->
    <!--Email-->
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="text" 
                id="email" name="email" >
            <label class="email" for="email"></label>
        </div>
        <div class="input-field col s12 m6 l6">
            <select id="user-role">
                <option value="" class="user_role" disabled selected></option>
            </select>
            <label class="user_role_label"></label>
        </div>
    </div>

    <!--Fourth row-->
    <!--Password and password check-->
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="password" 
                id="password" name="password" >
            <label class="password" for="password"></label>
        </div>
        <div class="input-field col s12 m6 l6">
            <input class="validate" type="password" 
                id="check-password" name="check-password" >
            <label class="check_password" for="check-password"></label>
        </div>
    </div>

    <!--Fifth row-->
    <!--Permissions wrapper-->
    <div class="row">
        <div class="col s12 m12 l12">
        <!--Header-->
            <h4><i class="material-icons md-48 field-icon">settings</i>
                <div class="assign_privileges"></div>
            </h4>
            <div class="divider"></div>
        </div>
    </div>

    <div id="permissions_wrapper" >
        <div id="zones_wrapper" >
            <!--<div class="col s12">-->
                <ul id="tabs_wrapper" class="tabs">

                </ul>
            <!--</div>-->
        </div>
    </div>

    <!--Sixth row-->
    <!--Send button-->
    <br>
    <div class="row">
        <div class="col s12 m12 l12 center">
               
        <!-- Update button -->
        <a class="green btn waves-effect waves-light" href="" 
            id="add_user">
            <span class="add_button"></span>
            <i class="material-icons right">send</i>
        </a>        
        </div>
    </div> 
</form>