<!DOCTYPE html>

<html>
<head>
    <!-- Tell the client we are using UTF-8 character encoding -->
    <meta charset="UTF-8">
    
    <!-- Add this line for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add info about the company -->
    <meta name="company" content="Jacobs Farm - Del Cabo">
    
    <!-- Import Normalize CSS -->
    <link rel="stylesheet" href="/espresso/external/normalize/normalize.css">
    
    <!-- Import Material Design Icons -->
    <link rel="stylesheet" 
        href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/espresso/external/google/icons-extras.css">

    <!-- Import jQuery -->
    <script src="/espresso/external/jquery/jquery-1.12.3.min.js"></script>
    <script src="/espresso/external/jquery/jquery.md5.js"></script>
    <script src="/espresso/external/sha256/sha256.min.js"></script>

    <!-- Import Materialize -->
    <link rel="stylesheet" 
        href="/espresso/external/materialize/css/materialize.min.css">
    <script src="/espresso/external/materialize/js/materialize.min.js"></script>

    <!-- TO-DO: Add favicons -->
    
    <!-- Import the stylesheet of the application -->
    <link rel="stylesheet" href="/espresso/data/stylesheets/espresso.css">
    
    <!-- Page title -->
    <title>Jacobs Farm | Del Cabo | Dashboard</title>
</head>

<body>
    <!-- Page top bar -->
    <header class="navbar-fixed"><nav class="nav-wrapper green">
        
        <!-- Language menu -->
        <ul class="right">
            <li>
                <!-- Language menu icon -->
                <a class="dropdown-button" 
                    data-activates="language-menu" href="">
                    <i class="material-icons">translate</i>
                </a>
                
                <!-- Language options -->
                <ul id="language-menu" class="dropdown-content">
                    <li><a class="language_spanish green-text text-accent-4" href="" onclick="setLanguage('es');">
                        
                    </a></li>
                    <li><a class="language_english green-text text-accent-4" href="" onclick="setLanguage('en');">
                        
                    </a></li>
                </ul>
            </li>
        </ul>
        
        <!-- Drawer menu -->
        <aside><ul id="slide-out" class="side-nav fixed" 
            data-collapsible="accordion" style='display:none;'>
            <li class="logo-area">
            </li>
            
            <!-- Account menu -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="teal collapsible-header">
                        <i class="material-icons md-light md-36 field-icon">
                            account_circle
                        </i>
                        <span id="account-name"></span>
                    </a>
                    <div class="collapsible-body"><ul>
                            <li><a class="edit_profile waves-effect waves-green" href="edit-profile">
                                
                            </a></li>
                            <li><a class="logout waves-effect waves-green" 
                                href="" id="logout">
                                
                            </a></li>
                        </ul></div>
                    </li>
                </ul>
            </li>
            
            <!-- Basic actions -->
            <li><a class="waves-effect waves-green" href="">
                <i class="material-icons md-dark md-24 field-icon">
                    announcement
                </i>
                <span class="auth">
                </span>
                <span class="green accent-4 new badge">99</span>
            </a></li>
            
            <!-- User actions navigation -->
            <div id="actions-list">
            </div>
            
            <li><a class="waves-effect waves-green" href="report-problem">
                <i class="material-icons md-dark md-24 field-icon">
                    report_problem
                </i>
                <span class="report_problem">
                    
                </span>
            </a></li>
        </ul></aside>
        
        <!-- Menu button -->
        <a href="" data-activates="slide-out" class="button-collapse" 
            style='display:none;'>
            <i class="material-icons mdi-navigation-menu">
                menu
            </i>
        </a>
        
    </nav></header>
    
    <!-- Page content -->
    <main class="container" id="page-content">
        <!-- Page loading indicator -->
        <div class="row center"><div class="col s12 m12 l12">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div></div>
    </main>
    
    <script src="/espresso/source/client/behaviors/functions.js"></script>
    <script src="/espresso/source/client/behaviors/language.js"></script>
    <script src='/espresso/source/client/behaviors/LayoutManager.js'></script>
    <script src='/espresso/source/client/behaviors/Controller.js'></script>
    <script src='/espresso/source/client/behaviors/login.js'></script>
    <script 
        src="/espresso/source/client/behaviors/report-problem.js"></script>
    <script 
        src="/espresso/source/client/behaviors/edit-profile.js"></script>
    <script 
        src="/espresso/source/client/behaviors/view-users.js"></script>
    <script 
        src="/espresso/source/client/behaviors/add-user.js"></script>
    <script 
        src="/espresso/source/client/behaviors/add-zone.js"></script>
    <script src='/espresso/source/client/behaviors/admin-menu.js'></script>
    <script src="/espresso/source/client/behaviors/main.js"></script>
</body>
</html>
