<!-- The password recovering form -->
<section class="row" id="recovery-accepted">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
        <div class="card"><form action="" id="password-recovery-form">
            <div class="card-content">

                <!-- The title of the page -->
                <span class="card-title">
                    Recuperación de Contraseña
                </span>

                <!-- New password input field -->
                <div class="input-field">
                    <i class="mdi mdi-lock prefix">
                    </i>
                    <input class="validate" id="new-password" 
                        type="password">
                    <label for="new-password">
                        Nueva contraseña
                    </label>
                </div>

                <!-- New password confirmation input field -->
                <div class="input-field">
                    <i class="mdi mdi-lock prefix">
                    </i>
                    <input class="validate" id="confirm-password" 
                        type="password">
                    <label for="confirm-password">
                        Confirme contraseña
                    </label>
                </div>
            </div>

            <!-- Form submit button -->
            <div class="card-action text-green center">
                <a class="login waves-effect waves-green btn-flat 
                    black-text" href="" id="form-submit">
                    Cambiar Contraseña
                </a>
            </div>
        </form></div>
    </div>
</section>