<!DOCTYPE html>

<html>
<head>
    <!-- Tell the client we are using UTF-8 character encoding -->
    <meta charset="UTF-8">
    
    <!-- Add this line for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add info about the company -->
    <meta name="company" content="Jacobs Farm - Del Cabo">
    
    <!-- Import Normalize CSS -->
    <link rel="stylesheet" 
        href="/espresso/external/normalize-css/normalize.css">
    
    <!-- Import Material Design Icons -->
    <link rel="stylesheet" 
        href="/espresso/external/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" 
        href="/espresso/data/stylesheets/material-icons.css">

    <!-- Import jQuery -->
    <script src="/espresso/external/jquery/dist/jquery.min.js"></script>
    <script src="/espresso/external/js-sha512/build/sha512.min.js"></script>

    <!-- Import Materialize -->
    <link rel="stylesheet" 
        href="/espresso/external/materialize/css/materialize.min.css">
    <script src="/espresso/external/materialize/js/materialize.min.js"></script>

    <!-- TO-DO: Add favicons -->
    
    <!-- Import the stylesheet of the application -->
    <link rel="stylesheet" href="/espresso/data/stylesheets/app.css">
    
    <!-- Page title -->
    <title>Jacobs Farm | Del Cabo | Dashboard</title>
</head>

<body>
    <!-- Page top bar -->
    <header class="navbar-fixed"><nav class="nav-wrapper green">
        
        <!-- Language menu -->
        <ul class="right">
            <li>
                <!-- Language menu icon -->
                <a class="dropdown-button" 
                    data-activates="language-menu" href="">
                    <i class="mdi mdi-translate"></i>
                </a>
                
                <!-- Language options -->
                <ul id="language-menu" class="dropdown-content">
                    <li><a class="language_spanish green-text text-accent-4" href="" onclick="setLanguage('es');">
                        
                    </a></li>
                    <li><a class="language_english green-text text-accent-4" href="" onclick="setLanguage('en');">
                        
                    </a></li>
                </ul>
            </li>
        </ul>
        
    </nav></header>
    
    <!-- Page content -->
    <main class="container" id="page-content">
        <!-- Page loading indicator -->
        <div class="row center" id="preloader"><div class="col s12 m12 l12">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div></div>

        
    </main>

    <script>
        $("#recovery-accepted").hide();
    </script>

    <!-- Import our behaviors -->
    <script src='/espresso/source/client/config.js'></script>
    <script src="/espresso/source/client/behaviors/functions.js"></script>
    <script src='/espresso/source/client/behaviors/Controller.js'></script>
    <script 
        src="/espresso/source/client/behaviors/recover-password.js"></script>
</body>
</html>