<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-account-multiple md-48 field-icon"></i>
            <div class="user_list"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div class="row right">
    <div class="col s12 m12 l12 right">
        <a class="green btn waves-effect waves-light" href="add-user" 
            id="add_user">
            <i class="mdi mdi-account-plus md-24 prefix"></i>
            <span class="add_user"></span>
        </a>
    </div>
</div>
<br>

<div id="user_list">
</div>

<div id="edit_user_wrapper">
    
</div>
