<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-account-multiple md-36 field-icon"></i>
            <div class="user_list"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div class="row">
    <div class="col s6 m3 l3 offset-s6 offset-m9 offset-l9">
        <a class="green btn waves-effect waves-light" href="add-user" 
            id="add_user">
            <span class="add_user"></span>
            <i class="mdi mdi-account-plus left"></i>
        </a>
    </div>
</div>


<div class='row'>
<div id="user_list">
</div>
</div>

<div id="edit_user_wrapper">
</div>
