form(#pdfForm, method='POST', target='_blank', action='http://localhost/espresso/source/server/report/reportPDF.php', ngNoForm)
  input(type='hidden', name='lang', [ngModel]='reportRequest.lang')
  input(type='hidden', name='content', [ngModel]='reportRequest.content')
  input(type='hidden', name='style', [ngModel]='reportRequest.style')
  input(type='hidden', name='company', [ngModel]='reportRequest.company')
  input(type='hidden', name='address', [ngModel]='reportRequest.address')
  input(type='hidden', name='logo', [ngModel]='reportRequest.logo')
  input(type='hidden', name='orientation', [ngModel]='reportRequest.orientation')
  input(type='hidden', name='fontsize', [ngModel]='reportRequest.fontsize')
  input(type='hidden', name='footer', [ngModel]='reportRequest.footer')
  input(type='hidden', name='supervisor', [ngModel]='reportRequest.supervisor')
  input(type='hidden', name='signature', [ngModel]='reportRequest.signature')
  input(type='hidden', name='images', [ngModel]='reportRequest.images')
  //-button.red.darken-4(style='float: right;', mz-button, (click)='requestPDFReport()')= "{{ 'VehicleCleaning.pdf' | translate:lang }} "
    i(mz-icon-mdi, [icon]='"file-pdf-box"', [size]='"24px"')