include ../../../../inventory-ionic-materialize.pug

ng-content(select='.header')
+inventoryListWrapper()([dragula]='bagName', [(dragulaModel)]='items')
  +inventoryItemComponent('gmp-packing-pest-control-inspection-exterior-area-verification', 'item', 'items')([item]='item')
ng-content(select='.footer')