include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf='showLog == true')
    block header
      log-header([log]='logHeaderData', [dateGroup]='captureForm')
    form([formGroup]='captureForm', (ngSubmit)='save(myForm)')       
      gap-packing-water-resource-area(*ngFor='let area of log.areas; let i = index', [area]='area', [group]='captureForm.controls.areas.controls[i]')
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")