include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    +card()
      +cardContent()
        +row()
          +col()(class="s12 m12 l12")
            +select("Document", null, null, null, "document_select", "'Document'")([(ngModel)]="selectedDocument")
              +option("{{doc.name}}", "doc.id", "{{first}}", false)(*ngFor='let doc of log.documents; let first = first')
          //-+col()(class="s1 m1 l1")
            button.green(mz-button, float='true', (click)='addDocument()')
              i(mz-icon-mdi='', [icon]="'plus'")
    +card()(*ngIf="selectedDocument != null && selectedDocument != undefined")
      +cardContent()
        +row()
          +col()(class="s6 m6 l6")
            +dateInput(false, "Date Input", null, "capture_date", null, null)
          +col()(class="s6 m6 l6")
            +textInput("Users", null, null, "text", "users", null)
        +row()
          +col()(class="s6 m6 l6")
            +textArea("Comment", false, null, "notes", null)
          +col()(class="s6 m6 l6")
            +textArea("External link", false, null, "album_url", null)
        +row()
          +col()(class="s12 m12 l12")
            +fileInput("Images")
        +row()
          +col()(class="s12 m12 l12")
            +fileInput("PDF Files")
//-p(*ngFor="let doc of log.documents") {{doc.name}}