include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    block documentSelect
      +card()
        +cardContent()
          +row()
            +col()(class="s12 m12 l12")
              +select("Document", null, null, null, "document_select", "'Document'")([(ngModel)]="selectedDocument")
                +option("{{doc.name}}", "doc.id", "{{first}}", false)(*ngFor='let doc of log.documents; let first = first')
    form((ngSubmit)='save()')
      +card()(*ngIf="selectedDocument != null && selectedDocument != undefined")
        +cardContent()([formGroup]="captureForm")
          +row()
            +col()(class="s6 m6 l6")
              +dateInput(false, "Date Input", "capture_date", "capture_date", null, "langManager.messages.global.datePickerConfig")
            +col()(class="s6 m6 l6")
              +textInput("Users", null, "users", "text", "users", null)
          +row()
            +col()(class="s6 m6 l6")
              +textArea("Comment", false, "notes", "notes", null)
            +col()(class="s6 m6 l6")
              +textArea("External link", false, "album_url", "album_url", null)
          block fileUpload
            +row()
              +col()(class="s12 m12 l12")
                +fileInput("Images", "image/*", "onImageFileSelected($event)", true)
            +row()
              +col()(class="s12 m12 l12")
                +fileInput("PDF Files", "application/pdf", "onPDFFileSelected($event)", true)
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")