include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    +card()
      +cardContent()
        +row()
          +col()(class="s11 m11 l11")
            +select("Document", null, null, null, "document_select", "'Document'")([(ngModel)]="selectedDocument")
              +option("{{doc.name}}", "doc.id", "{{first}}", false)(*ngFor='let doc of log.documents; let first = first')
          +col()(class="s1 m1 l1")
            button.green(mz-button, float='true', (click)='addDocument()')
              i(mz-icon-mdi='', [icon]="'plus'")
    +card()
      +cardContent()
        +row()
          +col()(class="s6 m6 l6")
          +col()(class="s6 m6 l6")
        +row()
          +col()(class="s6 m6 l6")
          +col()(class="s6 m6 l6")
        +row()
          +col()(class="s12 m12 l12")
            +fileInput()
        +row()
          +col()(class="s12 m12 l12")
            +fileInput()
//-p(*ngFor="let doc of log.documents") {{doc.name}}