include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    block header
      log-header([log]="logHeaderData", [dateGroup]='captureForm')
    block documentSelect
      +card()
        +cardContent()
          +row()
            +col()(class="s12 m12 l12")
              +select("{{ 'Log.document' | translate:lang }}", null, null, null, "document_select", "{{ 'Log.select_document' | translate:lang }}")([(ngModel)]="selectedDocument")
                +option("{{doc.name}}", "doc.id", "{{first}}", false)(*ngFor='let doc of log.documents; let first = first')
    form((ngSubmit)='save()')
      +card()(*ngIf="selectedDocument != null && selectedDocument != undefined")
        +cardContent()([formGroup]="captureForm")
          +row()
            +col()(class="s6 m6 l6")
              +dateInput(false, "{{ 'Log.date' | translate:lang }}", "capture_date", "capture_date", null, "langManager.messages.global.datePickerConfig")
            +col()(class="s6 m6 l6")
              +textInput("{{ 'Log.users' | translate:lang }}", null, "users", "text", "users", null)
          +row()
            +col()(class="s6 m6 l6")
              +textArea("{{ 'Log.comment' | translate:lang }}", false, "notes", "notes", null)
            +col()(class="s6 m6 l6")
              +textArea("{{ 'Log.external_url' | translate:lang }}", false, "album_url", "album_url", null)
          block fileUpload
            +row()
              +col()(class="s12 m12 l12")
                +fileInput("{{ 'Log.images' | translate:lang }}", "image/*", "onImageFileSelected($event)", true)
            +row()
              +col()(class="s12 m12 l12")
                +fileInput("{{ 'Log.pdfs' | translate:lang }}", "application/pdf", "onPDFFileSelected($event)", true)
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")