include ../../../log-ionic-materialize.pug

+card()([formGroup]='toolForm')
  +cardHeader("{{ tool.name }}")
  +cardContent()
    +row()
      +col()(class='col s4 m4 l4')
        +timeInput(true, "{{ 'Log.issue_time' | translate:lang }}", "issue_time", "issue_time_{{day_num}}_{{tool.tool_id}}", null, "langManager.messages.global.timePickerConfig")
      +col()(class='col s4 m4 l4')
        +textInput("{{ 'Log.issue_qty' | translate:lang }}", null, "issue_qty", "number", "issue_qty_{{day_num}}_{{tool.tool_id}}", "{{ 'Log.issue_qty' | translate:lang }}")
      +col()(class='col s4 m4 l4')
        +select("{{ 'Log.issue_conditions' | translate:lang }}", false, "issue_conditions", "popover", null, "{{ 'Log.issue_conditions' | translate:lang }}")
          +option("{{ 'Log.acceptable_sanitized' | translate:lang }}", "2", false, false)
          +option("{{ 'Log.acceptable' | translate:lang }}", "1", false, false)
          +option("{{ 'Log.unacceptable' | translate:lang }}", "0", false, false)
    +row()
      +col()(class='col s4 m2 l2')
        +timeInput(true, "{{ 'Log.recovery_time' | translate:lang }}", "recovery_time", "recovery_time_{{day_num}}_{{tool.tool_id}}", null, "langManager.messages.global.timePickerConfig")
      +col()(class='col s4 m2 l2')
        +textInput("{{ 'Log.recovery_qty' | translate:lang }}", null, "recovery_qty", "number", "recovery_qty_{{day_num}}_{{tool.tool_id}}", "{{ 'Log.recovery_qty' | translate:lang }}")
      +col()(class='col s4 m2 l2')
        +select("{{ 'Log.recovery_conditions' | translate:lang }}", false, "recovery_conditions", "popover", null, "{{ 'Log.recovery_conditions' | translate:lang }}")
          +option("{{ 'Log.acceptable' | translate:lang }}", "1", false, false)
          +option("{{ 'Log.unacceptable' | translate:lang }}", "0", false, false)
      +col()(class='col s3 m3 l3')
        +textInput("{{ 'Log.deficiencies_noted' | translate:lang }}", null, "deficiencies", "text", "deficiencies_{{day_num}}_{{tool.tool_id}}", "{{ 'Log.deficiencies_noted' | translate:lang }}")
      +col()(class='col s3 m3 l3')
        +textInput("{{ 'Log.corrective_action' | translate:lang }}", null, "corrective_actions", "text", "corrective_actions_{{day_num}}_{{tool.tool_id}}", "{{ 'Log.corrective_action' | translate:lang }}")
    +row()
      +col()(class='col s12 m12 l12')
        +textInput("{{ 'Log.sanitized' | translate:lang }} 100-250 ppm {{ 'Log.chlorine' | translate:lang }}", null, "sanitation", "number", "sanitation_{{day_num}}_{{tool.tool_id}}", "{{ 'Log.sanitized' | translate:lang }} 100-250 ppm {{ 'Log.chlorine' | translate:lang }}")