include ../../../inventory-ionic-materialize.pug

+inventoryWrapper()
  +inventoryListsWrapper('emptyInventoryFlag == false')
    +inventoryTitleWrapper()
      //-+inventoryTitleHandler()
      +inventoryTitleColumn("{{ 'InventoryLists.id' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.name' | translate:lang }}")
      +inventoryTitleToggle()
    //-For Ionic version uncomment the next line, Dragula variables are found inside the .list.pug file
    //-+inventoryList('gmp-packing-hand-washing')([items]='inventory')
    //-For ng2-Materialize version uncomment the next two lines, we have to pass Dragula variables here
    +inventoryList('gmp-packing-hand-washing')([items]='inventory', [dragula]='bagName', [dragulaModel]='inventory', [dragulaOptions]='options')
    +inventoryListAddItemFooter('gmp-packing-hand-washing')
  +inventoryEmptyMessage()
  +inventoryAddButton()