include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  //-+cardHeader("{{item.name}}")
  +cardContent()
    //-+textInput("{{ 'Log.reading' | translate:lang }}", false, "test", "number")
    +textInputLine("{{item.name}}", "{{ 'Log.reading' | translate:lang }}", false, "test", "number")
    +row()
      +col()
        +select("{{ 'Log.units' | translate:lang }}", false, "unit_id")(interface='popover')
          +option("{{unit.symbol}}", "unit.id", false, false)(*ngFor='let unit of units')
      +col()
        +select("{{ 'Log.status' | translate:lang }}", false, "status")(interface='popover')
          +option("{{ 'Log.pass' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.fail' | translate:lang }}", "false", false, false)
    +checkbox("{{ 'Log.sanitized_base' | translate:lang }}", false, "is_sanitized")