td.register-table-cell.no-wrap-table-cell.dateColumn {{register['capture_date']}}
td.register-table-cell.zoneColumn {{register['zone']}}
td.register-table-cell.codeColumn(*ngIf='register.code !== null') {{register['code']}}
td.register-table-cell.codeColumn(*ngIf='register.code === null')
td.register-table-cell.descriptionColumn(*ngIf='register.description !== null') {{register['description']}}
td.register-table-cell.descriptionColumn(*ngIf='register.description === null')
td.register-table-cell.folioColumn(*ngIf='register.folio !== null') {{register['folio']}}
td.register-table-cell.folioColumn(*ngIf='register.folio === null')
td.register-table-cell.statusColumn(*ngIf='register.status !== null') {{register['status_name']}}
td.register-table-cell.statusColumn(*ngIf='register.status === null')
td.register-table-cell.samplingColumn(*ngIf='register.sampling !== null') {{register['sampling']}}
td.register-table-cell.samplingColumn(*ngIf='register.sampling === null')
td.register-table-cell.gradeFPColumn(*ngIf='register.sampling !== null') {{((register['small_count'] + register['big_count'] + register['deformation'] + register['insect_damage'] + register['scarring']) / register['sampling']) * 100 | number: '1.0-0' }}%
td.register-table-cell.gradeFPColumn(*ngIf='register.sampling === null')
td.register-table-cell.majorGradeFPColumn(*ngIf='register.sampling !== null') {{((register['decoloration'] + register['dehydration'] + register['mechanical_damage'] + register['mushiness'] + register['bruises']) / register['sampling']) * 100 | number: '1.0-0' }}%
td.register-table-cell.majorGradeFPColumn(*ngIf='register.sampling === null')
//- pending cell, informative
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id === null && register.signable === 0')
  div.pending-cell {{ 'FinishedProduct.pending' | translate:lang }}
//- sign, button
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id === null && register.signable === 1')
  div.signature-button((click)='$event.stopPropagation();onSignClick()') {{ 'FinishedProduct.sign' | translate:lang }}
//- signature cell, informative, supervisor basis
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id !== null && register.signature_path !== null')
  img.signature-cell(src="{{ 'http://localhost/espresso/data/signatures/' + register.signature_path }}")
td.register-table-cell.signatureColumn(*ngIf='register.supervisor_id !== null && register.signature_path === null')
  div.approved-register {{ 'FinishedProduct.approved' | translate:lang }}
//- signature cell, gp supervisor
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id === null && register.gp_signable === 0')
  div.pending-cell {{ 'FinishedProduct.pending' | translate:lang }}
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id === null && register.gp_signable === 1')
  div.signature-button((click)='$event.stopPropagation();onGpSignClick()') {{ 'FinishedProduct.sign' | translate:lang }}
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id !== null && register.gp_signature_path !== null')
  img.signature-cell(src="{{ 'http://localhost/espresso/data/signatures/' + register.gp_signature_path }}")
td.register-table-cell.gpSignatureColumn(*ngIf='register.gp_supervisor_id !== null && register.gp_signature_path === null')
  div.approved-register {{ 'FinishedProduct.approved' | translate:lang }}
