include ../../log-ionic-materialize.pug

crop-registry-add((addRegister)='onAddRegister($event)')

div(*ngIf='registers.length > 0')
  table.ugly-ass-table
    thead
      tr
        th.slim-table-cell.no-wrap-table-cell ID
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.zone' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.date' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.crop' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.variety' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.section' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.block' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.weight' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.people' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.hours' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.total_hours' | translate:lang }}
        th.slim-table-cell.no-wrap-table-cell {{ 'CropRegistry.weight_hour' | translate:lang }}
    tbody
      ng-template(ngFor, [ngForOf]='registers', let-register)
        tr
          td.slim-table-cell.no-wrap-table-cell {{register['id']}}
          td.slim-table-cell.no-wrap-table-cell {{register['zone_name']}}
          td.slim-table-cell.no-wrap-table-cell {{register['date']}}
          td.slim-table-cell.no-wrap-table-cell {{register['crop']}}
          td.slim-table-cell.no-wrap-table-cell {{register['variety']}}
          td.slim-table-cell.no-wrap-table-cell {{register['section']}}
          td.slim-table-cell.no-wrap-table-cell {{register['block']}}
          td.slim-table-cell.no-wrap-table-cell {{register['weight']}}
          td.slim-table-cell.no-wrap-table-cell {{register['people']}}
          td.slim-table-cell.no-wrap-table-cell {{register['hours']}}
          td.slim-table-cell.no-wrap-table-cell(*ngIf='register["hours"] === null || register["people"] === null')
          td.slim-table-cell.no-wrap-table-cell(*ngIf='register["hours"] !== null && register["people"] !== null') {{register['hours'] * register['people']}}
          td.slim-table-cell.no-wrap-table-cell(*ngIf='register["weight"] === null || register["hours"] === null || register["hours"] === 0')
          td.slim-table-cell.no-wrap-table-cell(*ngIf='register["weight"] !== null && register["hours"] !== null && register["hours"] !== 0') {{register['weight'] / register['hours'] | number: '1.0-2'}}