ion-header
  ion-toolbar(color='primary')
    ion-title
      | {{ 'Titles.add_item' | translate:lang }}
    ion-buttons(start)
      button(ion-button, icon-only, (click)='dismiss()')
        ion-icon(name='close')

ion-content
  form([formGroup]='newItem')
    ion-item
      ion-label(color='primary', floating) {{ 'Name' | translate:lang }}
      ion-input(formControlName='name')

    ion-item
      ion-label(color='primary', floating) {{ 'InventoryLists.quantity' | translate:lang }}
      ion-input(formControlName='quantity', type='number')

    br

    div(text-right)
      button(ion-button, icon-end, (click)='addItem()')
        | {{ 'Options.add' | translate:lang }}
        ion-icon(name='add')