extends ../../report-viewer.common.pug

block loader
  gmp-others-unusual-occurrence-report-loader(#reports, *ngFor='let report of reports', [report]='report', [activeReport]='activeReport', [suffix]='suffix', [footer]='footer')