td.timeColumn([rowSpan]='timeRowspan', *ngIf='time != null') {{time}}
td.numberColumn {{item.name}}
td.testColumn {{item.test}}
td.humidityColumn {{item.humidity}}
td.deficienciesColumn {{item.deficiencies}}
td.actionColumn {{item.corrective_action}}