extends ../log/gmp.packing.finished.product.log.pug

block header
  h4 {{log.log_name}}
  .divider
  log-header([log]="logHeaderData")

block entryControls
  //-

block buttonRow
  +authorizationButtonRow("Send", "Authorize", "Delete", "Return")