mz-card
  mz-card-content
    | {{header.log}}
    br
    | {{ 'ReportHeader.zone' | translate:lang }}: {{header.zone}}
    br
    | {{ 'ReportHeader.program' | translate:lang }}: {{header.program}}
    br
    | {{ 'ReportHeader.module' | translate:lang }}: {{header.module}}
    br
    | {{ 'ReportHeader.made_on' | translate:lang }}: {{header.created_on}}
    br
    | {{ 'ReportHeader.made_by' | translate:lang }}: {{header.created_by}}
    br
    | {{ 'ReportHeader.approved_on' | translate:lang }}: {{header.approved_on}}
    br
    | {{ 'ReportHeader.approved_by' | translate:lang }}: {{header.approved_by}}