include ../../../area-manager-ionic-materialize.pug

+inventoryAreaWrapper()
  //-+inventoryAreaHandler()
  +inventoryAreaColumn('{{area.id}}')
  //-+inventoryAreaColumn('{{area.position}}')
  +inventoryAreaColumn('{{area.name}}')
  +inventoryAreaEdit()