th.register-table-cell {
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  vertical-align: text-top;
  max-height: 300px;
}

th.yellow-column {
  color: #c8c800;
}

th.orange-column {
  color: #c87800;
}

th.red-column {
  color: #c82f00;
}
