include ../../../area-manager-ionic-materialize.pug

//-For Ionic version uncomment the next line, Dragula variables are found here
//-+inventoryAreaListWrapper()([dragula]='bagName', [(dragulaModel)]='areas')
  +inventoryAreaComponent('gap-packing-water-resource', 'area', 'areas')([area]='area')
//-For ng2-Materialize version uncomment the next line, Dragula variables were placed on the inventory.pug file of this log
ng-content(select='.header')
+inventoryAreaListWrapper()([dragula]='bagName', [(dragulaModel)]='areas')
  +inventoryAreaComponent('gap-packing-water-resource', 'area', 'areas')([area]='area')
ng-content(select='.footer')