mz-modal('[options]'='modalOptions')
  mz-modal-header
    h4 {{ 'Connecting to Server' | translate:lang }}
  mz-modal-content
    div.center-align
      img.spinner(src="assets/images/koi_spinner.png", width="240", height="240")