include ../../../logmaster-common-mixins.pug
include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  +cardHeader("{{item.name}}")
  +cardContent()
    +radioGroup(false, false, "is_acceptable")
      +radio("{{ 'Log.acceptable' | translate:lang }}", false, "true", false, false)
      +radio("{{ 'Log.unacceptable' | translate:lang }}", false, "false", false, false)
      +errorMessage('!itemForm.controls.is_acceptable.valid && itemForm.controls.is_acceptable.dirty', 'Debe marcar un elemento como Aceptable o No Aceptable')
    //-ion-list(radio-group, formControlName='is_acceptable')
      ion-item
        ion-label {{ 'Log.acceptable' | translate:lang }}
        ion-radio([value]='true')
      ion-item
        ion-label {{ 'Log.unacceptable' | translate:lang }}
        ion-radio([value]='false')
      +errorMessage('!itemForm.controls.is_acceptable.valid && itemForm.controls.is_acceptable.dirty', 'Debe marcar un elemento como Aceptable o No Aceptable')
    ion-item([hidden]='itemForm.controls.is_acceptable.value !== false')
      ion-label {{ 'Log.corrective_action' | translate:lang }}
      ion-select(formControlName='corrective_action_id')
        ion-option(*ngFor='let action of actions', [value]='action.id') {{action[lang]}}
    ion-item([hidden]='itemForm.controls.is_acceptable.value !== false')
      ion-label(color='primary', floating)
        ion-icon(name="ios-text")
        |  {{ 'Log.comments_of' | translate:lang }} {{item.name}}
      ion-textarea(formControlName='comment')
    +errorMessage('!itemForm.controls.comment.valid && itemForm.controls.comment.dirty', 'Comentario demasiado largo')

//-form([formGroup]='itemForm')
  ion-card.hoverable
    ion-card-content
      ion-item
        ion-label {{item.name}}
      ion-list(radio-group, formControlName='is_acceptable')
        ion-item
          ion-label {{ 'Log.acceptable' | translate:lang }}
          ion-radio([value]='true')
        ion-item
          ion-label {{ 'Log.unacceptable' | translate:lang }}
          ion-radio([value]='false')
        +errorMessage('!itemForm.controls.is_acceptable.valid && itemForm.controls.is_acceptable.dirty', 'Debe marcar un elemento como Aceptable o No Aceptable')
      ion-item([hidden]='itemForm.controls.is_acceptable.value !== false')
        ion-label {{ 'Log.corrective_action' | translate:lang }}
        ion-select(formControlName='corrective_action_id')
          ion-option(*ngFor='let action of actions', [value]='action.id') {{action[lang]}}
      ion-item([hidden]='itemForm.controls.is_acceptable.value !== false')
        ion-label(color='primary', floating)
          ion-icon(name="ios-text")
          |  {{ 'Log.comments_of' | translate:lang }} {{item.name}}
        ion-textarea(formControlName='comment')
      +errorMessage('!itemForm.controls.comment.valid && itemForm.controls.comment.dirty', 'Comentario demasiado largo')