include ../../log-ionic-materialize.pug

block title
  register-title([name]='register.name')

block add
  div
    | Add Form

block report
  div
    | Report generator

block view
  div
    | View Table
