include ../../log-ionic-materialize.pug

h4 Abrir CAPA

.custom-collection
  .custom-item
    .custom-item-content.button-number-1
      .row.no-margin-bottom
        .col.s12.m12.l12 {{ 'LogList.start' | translate:lang }}
    .custom-collection-button
      button.blue(mz-button, float='true', (click)='onCAPAOpen(true)')
        i(mz-icon-mdi, [icon]='"new-box"', [size]='"24px"')
  .custom-item(*ngFor='let capa of capaList')
    .custom-item-content.button-number-1
      .row.no-margin-bottom
        .col.s4.m4.l4 {{capa.capa_number}}
        .col.s4.m4.l4 {{capa.capture_date}}
        .col.s4.m4.l4 {{capa.creator_name}}
      .row.no-margin-bottom
        .col.s12.m12.l12 {{capa.reference}}
    .custom-collection-button
      button.green(mz-button, float='true', (click)='onCAPAOpen(capa.id)')
        i(mz-icon-mdi, [icon]='"file-outline"', [size]='"24px"')