extends ../log/gmp.packing.atp.testing.log.pug

block header
  h4 {{log.log_name}}
  .divider
  log-header([log]="logHeaderData")

block entryButtons
  //-

block testButtons
  //-

block buttonRow
  +authorizationButtonRow("Send", "Authorize", "Delete", "Return")