include ../../../log-ionic-materialize.pug

td(class='slim-table-cell')
  div(style='width: 15vw; min-width: 150px;') {{item.name}}
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "reading", "number", "reading_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "ph", "number", "pH_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "orp", "number", "orp_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "temperature", "number", "temperature_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "corrective_action", "text", "corrective_action_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "product", "text", "product_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "batch", "text", "batch_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "parcel", "text", "parcel_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "reference", "text", "reference_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "total_chlorine", "number", "total_chlorine_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "free_chlorine", "number", "free_chlorine_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  +textInput(null, null, "rinse", "number", "rinse_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell', [formGroup]='itemForm')
  div(style='width: 10vw; min-width: 100px; margin-bottom: 0;')
  +checkbox("Pasó", null, "status", "status_{{item.id}}")
  //-+textInput(null, null, "status", "text", "status_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')