include ../../../log-ionic-materialize.pug

td(class='slim-table-cell')
  div(style='width: 15vw; min-width: 150px;') {{item.name}}
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "reading_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "pH_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "orp_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "temperature_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "text", "corrective_action_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "text", "product_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "text", "batch_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "text", "parcel_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "reference_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "total_chlorine_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "free_chlorine_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "number", "rinse_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')
td(class='slim-table-cell')
  +textInput(null, null, null, "text", "status_{{item.id}}" , null)(class='slim-text-input', style='width: 10vw; min-width: 100px; margin-bottom: 0;')