include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  +cardHeader("{{item.name}}")
  +cardContent()
    +row()(class="no-margin-bottom")
      +col()(class="s12 m6 l6")
        +textInput("{{ 'Log.temp_lecture' | translate:lang }}", "thermometer", "test", "number")
      +col()(class="s12 m6 l6")
        +textInput("{{ 'Log.relative_humidity' | translate:lang }}", "water-percent", "humidity", "number")
    +row()(class="no-margin-bottom")
      +col()(class="s12 m12 l12")
        +textArea("{{ 'Log.deficiencies_of' | translate:lang }} {{item.name}}", "close-circle", "deficiencies")
    +row()(class="no-margin-bottom")
      +col()(class="s12 m12 l12")
        +textArea("{{ 'Log.corrective_action_of' | translate:lang }} {{item.name}}", "check-circle", "corrective_action")