extends ../../viewer.common.pug

block viewer
  mz-tab([fixedTabWidth]="'true'")
    mz-tab-item([label]="'Manage Inventory'")
      gmp-packing-glass-brittle-inventory
    mz-tab-item([label]="'Manage Areas'")
      gmp-packing-glass-brittle-area-inventory
