report-header([header]="header")
mz-card
  mz-card-content
    table(#report_body)
      thead
        tr
          th.areaColumn {{ 'Log.area' | translate:lang }}
          th.timeColumn {{ 'Log.time' | translate:lang }}
          th.numberColumn {{ 'Log.number_abbr' | translate:lang }}
          th.nameColumn {{ 'Log.name' | translate:lang }}
          th.statusColumn {{ 'Log.conditions' | translate:lang }}
          th.actionColumn {{ 'Log.corrective_action' | translate:lang }}
          th.commentColumn {{ 'Log.comments' | translate:lang }}
      tbody
        ng-template(ngFor, let-area, [ngForOf]='report.areas')
          ng-template(ngFor, let-type, [ngForOf]='area.types', let-first='first')
            tr(gap-packing-preop-report-area, [area]='area', *ngIf='first')
            tr(gap-packing-preop-report-type, [type]='type', *ngIf='!first')
            ng-template(ngFor, let-item, [ngForOf]='type.items')
              tr(gap-packing-preop-report-item, [item]='item')
          tr
            td.fullColumn(colspan='7') {{ 'Log.notes' | translate:lang }}: {{area.notes}}
          tr
            td.fullColumn(colspan='7')
              | {{ 'Log.sanitization_person' | translate:lang }}: {{area.person_performing_sanitation}}
        tr
          td.fullColumn(colspan='7') {{ 'Log.notes' | translate:lang }}: {{report.notes}}
        tr
          td.fullColumn(colspan='7') {{ 'Log.album_url' | translate:lang }}: 
            a(href="{{report.album_url}}") {{report.album_url}}