h4(*ngIf='title !== null;else default_title') {{title}}
ng-template(#default_title)
  h4 {{ 'Default Title' | translate:lang}}
.divider
block inventory
  mz-tab([fixedTabWidth]="'true'")
    mz-tab-item(label="{{ 'Manage Inventory' | translate:lang }}")
      block itemInventory
    mz-tab-item(label="{{ 'Manage Areas' | translate:lang }}")
      block areaInventory
    block customTabs