include ../../../inventory-ionic-materialize.pug

+inventoryWrapper()
  +inventoryListsWrapper()
    +inventoryTitleWrapper()
      //-+inventoryTitleHandler()
      +inventoryTitleColumn("{{ 'InventoryLists.id' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.name' | translate:lang }}")
      +inventoryTitleToggle()
    //-For Ionic version uncomment the next line, Dragula variables are found inside the .list.pug file
    +inventoryList('gmp-packing-hand-washing')([items]='inventory')
    //-For ng2-Materialize version uncomment the next line, we have to pass Dragula variables here
    //-+inventoryList('gmp-packing-hand-washing')([items]='inventory', [dragula]='bagName', [dragulaModel]='inventory')
  +inventoryEmptyMessage()
  +inventoryAddButton()