include ../../../log-ionic-materialize.pug

+card()([formGroup]='machineForm')
  +cardContent()
    +row()
      +col()(class='s4 m4 l4')
        +dateInput(false, "{{ 'Log.date' | translate:lang }}", "date", "date_{{machine.entry_num}}", null, "langManager.messages.global.datePickerConfig")
      +col()(class='s4 m4 l4')
        +textInput("{{ 'Log.harvest_machine_quantity' | translate:lang }}", null, "harvest_machine_quantity", "number", "harvest_machine_quantity_{{machine.entry_num}}", "{{ 'Log.harvest_machine_quantity' | translate:lang }}")
      +col()(class='s4 m4 l4')
        +textInput("{{ 'Log.disinfection' | translate:lang }}", null, "disinfection", "number", "disinfection_{{machine.entry_num}}", "{{ 'Log.disinfection' | translate:lang }}")
    +row()
      +col()(class='s4 m4 l4')
        +select("{{ 'Log.soap_bag_wash' | translate:lang }}", false, "soap_bag_wash", "popover", null, "{{ 'Log.soap_bag_wash' | translate:lang }}")
          +option('N/A', 'null', false, false)
          +option("{{ 'Log.yes' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.no' | translate:lang }}", "false", false, false)
      +col()(class='s4 m4 l4')
        +select("{{ 'Log.water_rinse' | translate:lang }}", false, "rinse", "popover", null, "{{ 'Log.water_rinse' | translate:lang }}")
          +option('N/A', 'null', false, false)
          +option("{{ 'Log.yes' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.no' | translate:lang }}", "false", false, false)
      +col()(class='s4 m4 l4')
        +select("{{ 'Log.conditions' | translate:lang }}", false, "conditions", "popover", null, "{{ 'Log.conditions' | translate:lang }}")
          +option('N/A', 'null', false, false)
          +option("{{ 'Log.acceptable' | translate:lang }}", "true", false, false)
          +option("{{ 'Log.unacceptable' | translate:lang }}", "false", false, false)
    +row()
      +col()(class='s9 m9 l9')
        +textInput("{{ 'Log.noted_defects' | translate:lang }}", null, "noted_defects", "text", "noted_defects_{{machine.entry_num}}", "{{ 'Log.noted_defects' | translate:lang }}")
      +col()(class='s3 m3 l3')
        +textInput("{{ 'Log.initials' | translate:lang }}", null, "initials", "text", "initials_{{machine.entry_num}}", "{{ 'Log.initials' | translate:lang }}")
        