include ../../../inventory-ionic-materialize.pug

+inventoryWrapper()
  +inventoryAreaSelect()
    //-For ng2-Materialize version uncomment the next line
    gmp-self-inspection-pest-control-add-area()
  +inventoryListsWrapper("activeInventory == true && selectedArea != undefined && selectedArea != null")
    +inventoryTitleWrapper()
      +inventoryTitleHandler()
      +inventoryTitleColumn("{{ 'InventoryLists.id' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.order' | translate:lang }}")
      +inventoryTitleColumn("{{ 'InventoryLists.name' | translate:lang }}")
      +inventoryTitleToggle()
    //-For Ionic version uncomment the next line, Dragula variables are found inside the .list.pug file
    //-+inventoryList('gmp-self-inspection-pest-control')([items]='inventory')
    //-For ng2-Materialize version uncomment the next line, we have to pass Dragula variables here
    +inventoryList('gmp-self-inspection-pest-control')([items]='inventory', [dragula]='bagName', [(dragulaModel)]='inventory')
    +inventoryListAddItemFooter('gmp-self-inspection-pest-control')([area]="selectedArea")
  +inventoryEmptyMessage()
  +inventoryAddButton()([hidden]="selectedArea == null || selectedArea == undefined")