mixin menuDirectoryIcon(type, cardClass, defaultIcon, imageDirectory, link)
  div(*ngIf="icon.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        a([routerLink]="['/menu/audit', user_id]", [queryParams]=link, style='color: inherit;')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}

mixin menuDocumentIcon(type, cardClass, defaultIcon, imageDirectory, link)
  div(*ngIf="icon.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        a([routerLink]=link, style='color: inherit;')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}

mixin menuLinkIcon(type, cardClass, defaultIcon, imageDirectory, link)
  div(*ngIf="icon.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        a([href]=link, style='color: inherit;', target='_blank', *ngIf='icon.url[0] != "/"')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}
        a([routerLink]=link, style='color: inherit;', *ngIf='icon.url[0] == "/"')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}

h6
  a(*ngIf="path != ''", [routerLink]="['/menu/audit', user_id]") {{ 'MenuComponent.menu' | translate:lang }}
  span(*ngIf="path == ''") {{ 'MenuComponent.menu' | translate:lang }}
  span(*ngFor='let cur of directories; let last = last; let index = index')
    |  > 
    a([routerLink]="['/menu/audit', user_id]", [queryParams]='{ path: breadcrumbs[index] }', *ngIf='last != true') {{cur}}
    span(*ngIf='last == true') {{cur}}
.row
  ng-template(ngFor, [ngForOf]='currentDirectory', let-icon)
    .col.s6.m3.l2
      +menuLinkIcon('link', null, 'link-variant', 'links', 'icon.url')
      +menuDirectoryIcon('directory', 'blue-grey lighten-4', 'folder', 'directories', "(path != '') ? { path: path + '/' + icon.name } : { path : icon.name }")
      +menuDocumentIcon('file', 'green lighten-4', 'file-pdf-box', 'files', "'/document/viewer/' + icon.path")
  .col.s12.m12.l12
    div(*ngIf='loadingDirectory == true')
      h4
        i.green-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.loading_directory' | translate:lang }}
    div(*ngIf='currentDirectory.length == 0 && errorDirectory === false && errorNetwork === false && loadingDirectory === false')
      h4
        i.blue-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.empty_directory' | translate:lang }}
    div(*ngIf='errorDirectory === true')
      h4
        i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.invalid_directory' | translate:lang }}
    div(*ngIf='errorNetwork === true')
      h4
        i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.network_error' | translate:lang }}
        .row
          .col.s12.m12.l12(style='text-align: right;')
            button.center(mz-button, (click)='getMenu(user_id)') {{ 'MenuComponent.retry' | translate:lang }}