div(*ngIf='printHeader')
  ion-item(ion-list-header)
    ion-icon(item-start)
    ion-label {{ 'InventoryLists.order' | translate:lang }}
    ion-label {{ 'InventoryLists.name' | translate:lang }}
    ion-label {{ 'InventoryLists.type' | translate:lang }}
    ion-toggle(item-end, style='visibility: hidden;')
div([dragula]='type.name', [dragulaModel]='type.items', item-content)
  gmp-packing-scale-calibration-inventory-item(*ngFor='let item of type.items', [item]='item', [type]='type.name')