mixin inventoryItemHandler()
  td.handle
    i.handle(mz-icon-mdi, [align]="'center'", [icon]="'cursor-move'")

mixin inventoryItemColumn(content)
  td()= content

mixin inventoryItemToggle()
  td.item-toggle
    mz-switch-container
      input(mz-switch, type="checkbox", [(ngModel)]="toggleValue", (click)="toggleItem(item)")

mixin inventoryItemWrapper()
  if block
    block

mixin inventoryTitleHandler()
  th

mixin inventoryTitleColumn(content)
  th()= content

mixin inventoryTitleToggle()
  th.item-toggle {{ 'InventoryLists.status' | translate:lang }}

mixin inventoryTitleWrapper()
  thead.header
    tr
      if block
        block

mixin inventoryItemComponent(suffix, ngForLet, ngForSource)
  - attributes[suffix + '-inventory-item'] = true
  - let temp = {}
  - temp['let-' + ngForLet] = true
  ng-template(ngFor, [ngForOf]=ngForSource)&attributes(temp)
    tr()&attributes(attributes)

mixin inventoryList(suffix)
  - attributes[suffix + "-inventory-list"] = true
  tbody()&attributes(attributes)

mixin inventoryListMultiplier(ngForLet, ngForSource)
  - let temp = {}
  - temp['let-' + ngForLet] = true
  ng-template(ngFor, [ngForOf]=ngForSource)&attributes(temp)
    if block
      block

mixin inventoryListWrapper()
  if Object.keys(attributes).length > 0
    tbody()&attributes(attributes)
      if block
        block
  else
    if block
      block

mixin inventoryAddButton()
  //- Empty

mixin inventoryEmptyMessage()
  div(*ngIf='emptyInventoryFlag == true')
    h3
      i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
      | {{ 'InventoryLists.no_items_opening' | translate:lang }}
      i.green-text(mz-icon-mdi, [align]="'center'", [icon]="'plus-circle'", [size]="'42px'")
      | {{ 'InventoryLists.no_items_closure' | translate:lang }}

mixin inventoryListsWrapper(condition)
  table(*ngIf=condition)&attributes(attributes)
    if block
      block

mixin inventoryListAddItemFooter(suffix)
  - attributes[suffix + "-add-item"] = true
  tfoot.footer()&attributes(attributes)

mixin inventoryWrapper()
  if block
    block

mixin inventoryAreaSelect()
  .row
    .col.s6.m6.l6
      mz-select-container
        select(mz-select, id="area-select", [placeholder]="'Select area'", [(ngModel)]="selectedArea", (change)="loadAreaInventory($event.detail)")
          option(*ngFor='let area of areas; let first = first', [value]='area.id') {{area.name}}
    if block
      block