include ../../../inventory-ionic-materialize.pug

+inventoryItemWrapper()
  +inventoryHandler()
  +inventoryColumn('{{item.id}}')  
  +inventoryColumn('{{item.position}}')
  +inventoryColumn('{{item.name}}')
  +inventoryColumn('{{type}}')
  +inventoryToggle()