include ../logmaster-common-mixins.pug

+espressoNavbar(true)

ion-content
  ion-list
    button(ion-item, *ngFor='let module of modules', (click)='itemTapped($event, module.program, module)')
      ion-icon([name]='module.icon', item-left)
      | {{module.title}}