include ../../../log-ionic-materialize.pug

+card()([formGroup]='itemForm')
  +cardHeader('{{item.name}}')
  +cardContent()
    +row()
      +col()(class='s6 m6 l3')
        +select("{{ 'Log.protection_status' | translate:lang }}", false, "protection_status_id", "popover", null, "{{ 'Log.protection_status' | translate:lang }}")
          +option("N/A", 'null', false, false)
          +option("{{protectionStatus.name}}", "protectionStatus.id", false, false)(*ngFor='let protectionStatus of protectionStatuses')
      +col()(class='s6 m6 l3')
        +select("{{ 'Log.equipment_status' | translate:lang }}", false, "equipment_status_id", "popover", null, "{{ 'Log.equipment_status' | translate:lang }}")
          +option("N/A", 'null', false, false)
          +option("{{equipmentStatus.name}}", "equipmentStatus.id", false, false)(*ngFor='let equipmentStatus of equipmentStatuses')
      +col()(class='s6 m6 l3')
        +select("{{ 'Log.pest_type' | translate:lang }}", false, "pest_type_id", "popover", null, "{{ 'Log.pest_type' | translate:lang }}")
          +option("N/A", 'null', false, false)
          +option("{{pestType.name}}", "pestType.id", false, false)(*ngFor='let pestType of pestTypes')
      +col()(class='s6 m6 l3')
        +select("{{ 'Log.area_verification' | translate:lang }}", false, "area_verification_id", "popover", null, "{{ 'Log.area_verification' | translate:lang }}")
          +option("N/A", 'null', false, false)
          +option("{{areaVerification.name}}", "areaVerification.id", false, false)(*ngFor='let areaVerification of areaVerifications')
    +row()
      +col()(class='s6 m6 l3')
        +select("{{ 'Log.task' | translate:lang }}", false, "task_id", "popover", null, "{{ 'Log.task' | translate:lang }}")
          +option("N/A", 'null', false, false)
          +option("{{task.name}}", "task.id", false, false)(*ngFor='let task of tasks')
      +col()(class='s6 m6 l3')
        +textInput("{{ 'Log.captured_pests' | translate:lang }}", null, "captured_pests", "number", "captured_pests_{{item.id}}", null)
      +col()(class='s6 m6 l3')
        +select("{{ 'Log.corrective_action' | translate:lang }}", false, "corrective_action_id", "popover", null, "{{ 'Log.corrective_action' | translate:lang }}")
          +option("N/A", 'null', false, false)
          +option("{{correctiveAction.name}}", "correctiveAction.id", false, false)(*ngFor='let correctiveAction of correctiveActions')
      +col()(class='s6 m6 l3')
        +textInput("{{ 'Log.observations' | translate:lang }}", null, "observations", "text", "observations_{{item.id}}", null)