div([hidden]="!(activeReport.id == 'any' || activeReport.id == report.report_id)")
  mz-card
    mz-card-content
      .row.no-margin-bottom
        .col('[ngClass]'="{ 's10 m11 l11': showReport === false, 's8 m10 l10': showReport === true && hasEmail !== true, 's6 m9 l9': showReport === true && hasEmail === true }")
          .row.no-margin-bottom
            .overflow-limit('[ngClass]'="{ 'col s12 m12 l12': showReport && preview == null, 'col s12 m6 l6': !showReport && preview != null }", style='font-weight: bold;', *ngIf='report.display_date != null && report.display_date != undefined')
              | {{report.creation_date | l10nDate:defaultLocale:monthOptions | slice:0:3 | titlecase}} {{report.creation_date | l10nDate:defaultLocale:dayOptions}}, {{report.creation_date | l10nDate:defaultLocale:yearOptions}} | {{report.display_date}}
              //-| {{report.creation_date | l10nDate:defaultLocale:'MMMM' | slice:0:3 | titlecase }} {{report.creation_date | l10nDate:defaultLocale:'d'}}, {{report.creation_date | l10nDate:defaultLocale:'yyyy' | slice:2:4}} | {{report.display_date}}
            .overflow-limit('[ngClass]'="{ 'col s12 m12 l12': showReport && preview == null, 'col s12 m6 l6': !showReport && preview != null }", style='font-weight: bold;', *ngIf='report.display_date == null || report.display_date == undefined')
              | {{report.creation_date | l10nDate:defaultLocale:monthOptions | slice:0:3 | titlecase}} {{report.creation_date | l10nDate:defaultLocale:dayOptions}}, {{report.creation_date | l10nDate:defaultLocale:yearOptions}}
              //-| {{report.creation_date | l10nDate:defaultLocale:'MMMM' | slice:0:3 | titlecase }} {{report.creation_date | l10nDate:defaultLocale:'d'}}, {{report.creation_date | l10nDate:defaultLocale:'yyyy' | slice:2:4}}
            .overflow-limit.col.s12.m6.l6(*ngIf='!showReport && preview != null')
              report-preview([title]="view.title", [content]="view.content", *ngFor="let view of preview")
        .col.s2.m1.l1(*ngIf="hasEmail === true && showReport === true")
          div([hidden]='!(hasEmail === true && showReport === true)')
            button(mz-button='mz-button', float='true', style='background-color: #4CAF50; margin-top: -20px; margin-bottom: -20px;')
              i(mz-icon-mdi='mz-icon-mdi', [icon]="'email'", [size]="'24px'")
        .col.s2.m1.l1(*ngIf="showReport === true")
          div([hidden]='!showReport')
            form(method='POST', target='_blank', action='http://localhost/espresso/source/server/report/reportPDF.php', ngNoForm)
              input(type='hidden', name='lang', [ngModel]='pdfReport.lang')
              input(type='hidden', name='content', [ngModel]='pdfReport.content')
              input(type='hidden', name='style', [ngModel]='pdfReport.style')
              input(type='hidden', name='company', [ngModel]='pdfReport.company')
              input(type='hidden', name='address', [ngModel]='pdfReport.address')
              input(type='hidden', name='logo', [ngModel]='pdfReport.logo')
              input(type='hidden', name='orientation', [ngModel]='pdfReport.orientation')
              input(type='hidden', name='fontsize', [ngModel]='pdfReport.fontsize')
              input(type='hidden', name='footer', [ngModel]='pdfReport.footer')
              input(type='hidden', name='supervisor', [ngModel]='pdfReport.supervisor')
              input(type='hidden', name='signature', [ngModel]='pdfReport.signature')
              input(type='hidden', name='images', [ngModel]='pdfReport.images')
              button(mz-button, float='true', style='background-color: #B71C1C; margin-top: -20px; margin-bottom: -20px;', (click)='printPDFReport()')
                i(mz-icon-mdi='mz-icon-mdi', [icon]="'file-pdf-box'", [size]="'24px'")
        .col.s2.m1.l1(*ngIf='!showReport')
          //-i(mz-icon-mdi='mz-icon-mdi', [icon]="'file-document-box'", [size]="'18px'", (click)='openHTMLReport()')
          button(mz-button, float='true', (click)='openHTMLReport()', style='background-color: #4CAF50; margin-top: -20px; margin-bottom: -20px;')
            i(mz-icon-mdi='mz-icon-mdi', [icon]="'file-document-box'", [size]="'24px'")
        .col.s2.m1.l1(*ngIf='showReport')
          //-i(mz-icon-mdi='mz-icon-mdi', [icon]="'close-box'", [size]="'18px'", (click)='closeHTMLReport()')
          button(mz-button, float='true', (click)='closeHTMLReport()', style='background-color: #F44336; margin-top: -20px; margin-bottom: -20px;')
            i(mz-icon-mdi='mz-icon-mdi', [icon]="'close-box'", [size]="'24px'")
      //-.row(*ngIf='!showReport && preview != null')
        report-preview([title]="view.title", [content]="view.content", *ngFor="let view of preview")
  #tableWrapper.tableWrapper([hidden]='!showReport')
    div(dynamicComponentContainer)