mz-card([hidden]="!(activeReport == 'any' || activeReport == report.report_id)")
  mz-card-content
    .row
      .col.s9.m9.l9(style='font-size: 24px;')
        | {{report.creation_date}}
      .col.s1.m1.l1
        div([hidden]='!(hasEmail === true && showReport === true)')
          button(mz-button='mz-button', float='true')
            i(mz-icon-mdi='mz-icon-mdi', [icon]="'email'", [size]="'24px'")
      .col.s1.m1.l1
        div([hidden]='!showReport')
          form(method='POST', target='_blank', action='http://localhost/espresso/source/server/report/reportPDF.php', ngNoForm)
            input(type='hidden', name='lang', [ngModel]='pdfReport.lang')
            input(type='hidden', name='content', [ngModel]='pdfReport.content')
            input(type='hidden', name='style', [ngModel]='pdfReport.style')
            input(type='hidden', name='company', [ngModel]='pdfReport.company')
            input(type='hidden', name='address', [ngModel]='pdfReport.address')
            input(type='hidden', name='logo', [ngModel]='pdfReport.logo')
            input(type='hidden', name='orientation', [ngModel]='pdfReport.orientation')
            input(type='hidden', name='fontsize', [ngModel]='pdfReport.fontsize')
            input(type='hidden', name='footer', [ngModel]='pdfReport.footer')
            input(type='hidden', name='supervisor', [ngModel]='pdfReport.supervisor')
            input(type='hidden', name='signature', [ngModel]='pdfReport.signature')
            button(mz-button, float='true', style='background-color: #B71C1C;', (click)='printPDFReport()')
              i(mz-icon-mdi='mz-icon-mdi', [icon]="'file-pdf-box'", [size]="'24px'")
      .col.s1.m1.l1(*ngIf='!showReport')
        button(mz-button, float='true', (click)='openHTMLReport()', style='background-color: #4CAF50;')
          i(mz-icon-mdi='mz-icon-mdi', [icon]="'file-document-box'", [size]="'24px'")
      .col.s1.m1.l1(*ngIf='showReport')
        button(mz-button, float='true', (click)='closeHTMLReport()', style='background-color: #F44336;')
          i(mz-icon-mdi='mz-icon-mdi', [icon]="'close-box'", [size]="'24px'")
#tableWrapper.tableWrapper([hidden]='!showReport')
  div(dynamicComponentContainer)