extends ../../report.common.pug

block report
  table(#report_body, style="display: block; overflow: scroll;")
    tbody
      tr
        th.productsColumn {{ 'Log.item' | translate:lang }}
        th.suppliersColumn {{ 'Log.zone_provider' | translate:lang }}
        th.clientsColumn {{ 'Log.days_old' | translate:lang }}
        th.waterColumn {{ 'Log.quantity' | translate:lang }}
        th.batchColumn {{ 'Log.batch' | translate:lang }}
        th.areaColumn {{ 'Log.warehouse' | translate:lang }}
        th.qualityColumn {{ 'Log.quality' | translate:lang }}
        th.originColumn {{ 'Log.origin' | translate:lang }}
        th.expiresColumn {{ 'Log.date' | translate:lang }}
        th.packingColumn {{ 'Log.location' | translate:lang }}
        th.actionColumn {{ 'Log.action' | translate:lang }}
        th.urlColumn {{ 'Log.external_url' | translate:lang }}
        th.notesColumn {{ 'Log.notes' | translate:lang }}
      tr(*ngFor="let entry of report.entries", '[ngClass]'="{ 'report-orange': entry.action_id == 5, 'report-yellow': entry.action_id == 4, 'report-red': entry.action_id == 3 }")
        td.productsColumn {{entry.item}}
        td.suppliersColumn {{entry.vendor}}
        td.clientsColumn {{entry.age}}
        td.waterColumn {{entry.quantity}}
        td.batchColumn {{entry.batch}}
        td.areaColumn {{entry.warehouse}}
        td.qualityColumn {{entry.quality}}
        td.originColumn {{entry.origin}}
        td.expiresColumn {{entry.packed_date}}
        td.packingColumn {{entry.location}}
        td.actionColumn {{entry.action_name}}
        td.urlColumn {{entry.album_url}}
        td.notesColumn {{entry.notes}}