.green-50{
    background-color: #e8f5e9;
}

.green-100{
    background-color: #c8e6c9;
}

.green-200{
    background-color: #a5d6a7;
}

.green-300{
    background-color: #81c784;
}

.green-400{
    background-color: #66bb6a;
}

.green-500{
    background-color: #4caf50;
}

.green-600{
    background-color: #43a047;
}

.green-700{
    background-color: #388e3c;
}

.green-800{
    background-color: #2e7d32;
}

.green-900{
    background-color: #1b5e20;
}

.green-A100{
    background-color: #b9f6ca;
}

.green-A200{
    background-color: #69f0ae;
}

.green-A400{
    background-color: #00e676;
}

.green-A700{
    background-color: #00c853;
}
