@charset "UTF-8";

/* Background color for the page */
body {
    background-color: rgb(245, 245, 245);
}

/* Form label focus color */
.input-field input[type=text]:focus + label, .input-field .prefix.active, 
.input-field input[type=password]:focus + label, 
textarea.materialize-textarea:focus:not([readonly]) + label,
.dropdown-content li > span {
    color: #00c853;
}

/* Form label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=text].valid,
.input-field input[type=password]:focus, 
.input-field input[type=password].valid, 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00c853;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2);
}

.input-field input.invalid[type=text][readonly],
.input-field input.invalid[type=text][readonly]:focus,
.input-field input[type=text][readonly]:focus,
.input-field input.invalid[type=number][readonly],
.input-field input.invalid[type=number][readonly]:focus,
.input-field input[type=number][readonly]:focus {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: unset;
}

/* Form label invalid color */
.input-field input[type=text].invalid, 
.input-field input[type=password].invalid, 
textarea.materialize-textarea.invalid:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2);
}
       
/* Prefix icon for text lines */ 
.field-icon {
    text-align: center;
    position: absolute;
    line-height: 1.5;
}

/* Accompanying text lines of prefix icons */
.field-icon ~ * {
    margin-left: 40px;
    width: calc(100% - 40%);
}

/* Increase the separation between the icon and the accompanying text when
the icon is very large */
.field-icon.md-48 ~ * {
    padding-top: 16px;
    margin-left: 64px;
}

/* For the server status notification, lets make the text appear lower so
that it is aligned with the icon */
.field-icon + .server-status {
    padding-top: 8px;
}

/* Make space for placing the SideNav menu */
main.with-side-menu, footer {
    padding-left: 240px;
}

/* When SideNav is hidden, move the contant to the edge of the screen */
@media only screen and (max-width : 992px) {
    main.with-side-menu, footer {
        padding-left: 0;
    }
}

/* Menu button icon */
.button-collapse i {
    padding-left: 12px;
}

/* Ajust the padding of the links in the SideNav */
.side-nav.fixed a {
    padding: 0 20px;
}

/* Adjust text properties of the container links in the SideNav */
.side-nav.fixed a.teal {
    color: white;
    padding: 0 20px;
}

/* Square area with the company's logo */
.logo-area {
    background: white url("../images/logo.png") no-repeat center;
    background-size: contain;
}

/* Adjust the height of the logo in the SideNav */
.side-nav.fixed > .logo-area {
    height: 160px;
}

/* Adjust font weight of the items inside an accordion menu in the SideNav */
.collapsible-body a {
    font-weight: 300;
}

/* Adjust the font weight of the language menu items */
#language-menu a {
    font-weight: 500;
}

/* Add a bullet to the generic lists that we use */
.list > li {
    list-style-type: disc;
    margin: 0 50px 20px 50px;
}

/* Make the icon in the error message page become red */
.material-icons.field-icon.error, 
textarea.materialize-textarea.invalid:focus:not([readonly]) + label, 
textarea.materialize-textarea.invalid:not([readonly]) + label,
.invalid-select, p.form-error,
.material-icons.prefix.active.invalid {
    color: red !important;
}

/* Adjust the color of the checkboxes in the multiple selection select options 
*/
[type="checkbox"]:checked + label::before {
    border-right: 2px solid #00c853;
    border-bottom: 2px solid #00c853;
}

/* Allow a thin line to appear bellow titles of sections or articles */
.section-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

main.container > div.row.center {
    padding-top: 150px;
}

.program-button {
    padding: 0 40px 0 20px !important;
}