include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    form((ngSubmit)='save(myForm)', id='aged_product')
      +card(true)(*ngFor="let entry of entries; let i = index")
        +cardContent()([formGroup]="captureForm.controls.entries.controls[i]")
          +row()
            +col()(class='s3 m3 l3')
              +textInput("Batch", false, "batch", "text", "batch_{{i}}", null)
            +col()(class='s3 m3 l3')
              +textInput("Warehouse", false, "warehouse", "text", "warehouse_{{i}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Zone, Provider", false, "vendor", "text", "vendor_{{i}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Item", false, "item", "text", "item_{{i}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Origin", false, "origin", "text", "origin_{{i}}", null)
          +row()
            +col()(class='s3 m3 l3')
              +select("Quality", null, "quality_id", null, "quality_{{i}}", "'Quality'")
                +option("{{quality.name}}", "quality.id", "{{first}}", false)(*ngFor='let quality of log.log_info.actions; let first = first')
            +col()(class='s2 m2 l2')
              +dateInput(false, "Date of packing", "packed_date", "date_{{i}}", null, null)
            +col()(class='s2 m2 l2')
              +textInput("Quantity", false, "quantity", "number", "quantity_{{i}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Location", false, "location", "text", "location_{{i}}", null)
            +col()(class='s3 m3 l3')
              +select("Action", null, "action_id", null, "action_{{i}}", "'Action'")
                +option("{{action.name}}", "action.id", "{{first}}", false)(*ngFor='let action of log.log_info.quality_types; let first = first')
          +row()
            +col()(class='s6 m6 l6')
              +textArea("Comment", false, "notes", "notes_{{i}}", null)
            +col()(class='s6 m6 l6')
              +textArea("External link", false, "album_url", "album_url_{{i}}", null)
    +row()
      +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
        button.green(mz-button, float='true', (click)='addEntry()')
          i(mz-icon-mdi='', [icon]="'plus'")
      +col()(class="s1 m1 l1")
        button.red(mz-button, float='true', (click)='removeEntry()', [disabled]="entries.length <= 1")
          i(mz-icon-mdi='', [icon]="'minus'")
    +sendLogButton("{{ 'Log.send_report' | translate:lang }}")(form="aged_product")
//-
  +row()
    +col()
    +col()
    +col()
    +col()
    +col()
  +row()
    +col()
    +col()
    +col()
    +col()
    +col()
  +row()
    +col()(class='s6 m6 l6')
      +textArea("Comment", false, "notes", "notes_{{i}}", null)
    +col()(class='s6 m6 l6')
      +textArea("External link", false, "album_url", "album_url_{{i}}", null)
    
        //-+cardContent()
  +row()
  +col()(class='s4 m4 l4')
    +select(null, null, "shift_id", null, "shift", "'Shift'")
      +option("{{shift.name}}", "shift.shift_id", "{{first}}", false)(*ngFor='let shift of log.items.shifts; let first = first')
  +col()(class='s4 m4 l4')
    +timeInput(true, "Time", "time", "time", null, null)
  +col()(class='s4 m4 l4')
    +dateInput(true, "Date of occurrence", "incident_date", "date", null, null)
  +row()
    +col()(class='s4 m4 l4')
      +textInput("Production area", false, "area_id", "text", "production_area", null)
    +col()(class='s4 m4 l4')
      +textInput("Product", false, "product_id", "text", "product", null)
    +col()(class='s4 m4 l4')
      +textInput("Batch", false, "batch_id", "text", "batch", null)
  +row()
    +col()(class='s12 m12 l12')
      +textArea("Description", false, "description_id", "description", null)
  +row()
    +col()(class='s12 m12 l12')
      +textArea("Corrective action", false, "corrective_action", "action", null)
  +row()
    +col()(class='s12 m12 l12')
      +textArea("External link", false, "album_url", "album_url", null)