include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    form((ngSubmit)='save(myForm)', id='aged_product')
      +card(true)(*ngFor="let entry of captureForm.controls.entries.controls; let i = index")
        +cardContent()([formGroup]="captureForm.controls.entries.controls[i]")
          +row()
            +col()(class='s3 m3 l3')
              +textInput("Batch", false, "batch", "text", "batch_{{i + 1}}", null)([length]="maxLengths.batch")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.batch.valid && captureForm.controls.entries.controls[i].controls.batch.value.length > maxLengths.batch", "{{ 'LogErrors.gmp-packing-aged-product.batch_max' | translate:lang }}")
            +col()(class='s3 m3 l3')
              +textInput("Warehouse", false, "warehouse", "text", "warehouse_{{i + 1}}", null)([length]="maxLengths.warehouse")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.warehouse.valid && captureForm.controls.entries.controls[i].controls.warehouse.value.length > maxLengths.warehouse", "{{ 'LogErrors.gmp-packing-aged-product.warehouse_max' | translate:lang }}")
            +col()(class='s2 m2 l2')
              +textInput("Zone, Provider", false, "vendor", "text", "vendor_{{i + 1}}", null)([length]="maxLengths.vendor")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.vendor.valid && captureForm.controls.entries.controls[i].controls.vendor.dirty && captureForm.controls.entries.controls[i].controls.vendor.value.length > maxLengths.vendor", "{{ 'LogErrors.gmp-packing-aged-product.supplier_max' | translate:lang }}")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.vendor.valid && captureForm.controls.entries.controls[i].controls.vendor.dirty && captureForm.controls.entries.controls[i].controls.vendor.value.length == 0", "{{ 'LogErrors.generic.generic_required' | translate:lang }}")
            +col()(class='s2 m2 l2')
              +textInput("Item", false, "item", "text", "item_{{i + 1}}", null)([length]="maxLengths.item")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.item.valid && captureForm.controls.entries.controls[i].controls.item.dirty && captureForm.controls.entries.controls[i].controls.item.value.length > maxLengths.item", "{{ 'LogErrors.gmp-packing-aged-product.item_max' | translate:lang }}")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.item.valid && captureForm.controls.entries.controls[i].controls.item.dirty && captureForm.controls.entries.controls[i].controls.item.value.length == 0", "{{ 'LogErrors.generic.generic_required' | translate:lang }}")
            +col()(class='s2 m2 l2')
              +textInput("Origin", false, "origin", "text", "origin_{{i + 1}}", null)([length]="maxLengths.origin")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.origin.valid && captureForm.controls.entries.controls[i].controls.origin.dirty", "{{ 'LogErrors.gmp-packing-aged-product.origin_max' | translate:lang }}")
          +row()
            +col()(class='s3 m3 l3')
              +select("Quality", null, "quality_id", null, "quality_{{i + 1}}", "'Quality'")
                +option("{{quality.name}}", "quality.id", null, false)(*ngFor='let quality of log.log_info.quality_types')
              +errorMessage("!captureForm.controls.entries.controls[i].controls.quality_id.valid && captureForm.controls.entries.controls[i].controls.quality_id.dirty", "{{ 'LogErrors.generic.generic_required' | translate:lang }}")
            +col()(class='s2 m2 l2')
              +dateInput(false, "Date of packing", "packed_date", "date_{{i + 1}}", null, "langManager.messages.global.datePickerConfig")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.packed_date.valid && captureForm.controls.entries.controls[i].controls.packed_date.dirty", "{{ 'LogErrors.generic.date_required' | translate:lang }}")
            +col()(class='s2 m2 l2')
              +textInput("Quantity", false, "quantity", "number", "quantity_{{i + 1}}", null)
              +errorMessage("!captureForm.controls.entries.controls[i].controls.quantity.valid && captureForm.controls.entries.controls[i].controls.quantity.dirty", "{{ 'LogErrors.gmp-packing-aged-product.quantity_required' | translate:lang }}")
            +col()(class='s2 m2 l2')
              +textInput("Location", false, "location", "text", "location_{{i + 1}}", null)([length]="maxLengths.location")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.location.valid && captureForm.controls.entries.controls[i].controls.location.dirty && captureForm.controls.entries.controls[i].controls.location.value.length > maxLengths.location", "{{ 'LogErrors.gmp-packing-aged-product.location_max' | translate:lang }}")
            +col()(class='s3 m3 l3')
              +select("Action", null, "action_id", null, "action_{{i + 1}}", "'Action'")
                +option("{{action.name}}", "action.id", null, false)(*ngFor='let action of log.log_info.actions')
              +errorMessage("!captureForm.controls.entries.controls[i].controls.action_id.valid && captureForm.controls.entries.controls[i].controls.action_id.dirty", "{{ 'LogErrors.generic.generic_required' | translate:lang }}")
          +row()
            +col()(class='s6 m6 l6')
              +textArea("Comment", false, "notes", "notes_{{i + 1}}", null)([length]="maxLengths.notes")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.notes.valid && captureForm.controls.entries.controls[i].controls.notes.dirty && captureForm.controls.entries.controls[i].controls.notes.value.length > maxLengths.notes", "{{ 'LogErrors.gmp-packing-aged-product.notes_max' | translate:lang }}")
            +col()(class='s6 m6 l6')
              +textArea("External link", false, "album_url", "album_url_{{i + 1}}", null)([length]="maxLengths.album_url")
              +errorMessage("!captureForm.controls.entries.controls[i].controls.album_url.valid && captureForm.controls.entries.controls[i].controls.album_url.dirty && captureForm.controls.entries.controls[i].controls.album_url.value.length > maxLengths.album_url", "{{ 'LogErrors.gmp-packing-aged-product.album_url_max' | translate:lang }}")
      block entryControls              
        +row()
          +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
            button.green(mz-button, type='button', float='true', (click)='addEntry()')
              i(mz-icon-mdi, [icon]="'plus'")
          +col()(class="s1 m1 l1")
            button.red(mz-button, type='button', float='true', (click)='removeEntry()', [disabled]="captureForm.controls.entries.controls.length <= 1")
              i(mz-icon-mdi, [icon]="'minus'")
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")(form="aged_product")