include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf="showLog == true")
    log-header([log]="logHeaderData")
    form((ngSubmit)='save(myForm)', id='aged_product')
      +card(true)(*ngFor="let entry of captureForm.controls.entries.controls; let i = index")
        +cardContent()([formGroup]="captureForm.controls.entries.controls[i]")
          +row()
            +col()(class='s3 m3 l3')
              +textInput("Batch", false, "batch", "text", "batch_{{i + 1}}", null)
            +col()(class='s3 m3 l3')
              +textInput("Warehouse", false, "warehouse", "text", "warehouse_{{i + 1}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Zone, Provider", false, "vendor", "text", "vendor_{{i + 1}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Item", false, "item", "text", "item_{{i + 1}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Origin", false, "origin", "text", "origin_{{i + 1}}", null)
          +row()
            +col()(class='s3 m3 l3')
              +select("Quality", null, "quality_id", null, "quality_{{i + 1}}", "'Quality'")
                +option("{{quality.name}}", "quality.id", null, false)(*ngFor='let quality of log.log_info.actions')
            +col()(class='s2 m2 l2')
              +dateInput(false, "Date of packing", "packed_date", "date_{{i + 1}}", null, "langManager.messages.global.datePickerConfig")
            +col()(class='s2 m2 l2')
              +textInput("Quantity", false, "quantity", "number", "quantity_{{i + 1}}", null)
            +col()(class='s2 m2 l2')
              +textInput("Location", false, "location", "text", "location_{{i + 1}}", null)
            +col()(class='s3 m3 l3')
              +select("Action", null, "action_id", null, "action_{{i + 1}}", "'Action'")
                +option("{{action.name}}", "action.id", null, false)(*ngFor='let action of log.log_info.quality_types')
          +row()
            +col()(class='s6 m6 l6')
              +textArea("Comment", false, "notes", "notes_{{i + 1}}", null)
            +col()(class='s6 m6 l6')
              +textArea("External link", false, "album_url", "album_url_{{i + 1}}", null)
    +row()
      +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
        button.green(mz-button, float='true', (click)='addEntry()')
          i(mz-icon-mdi, [icon]="'plus'")
      +col()(class="s1 m1 l1")
        button.red(mz-button, float='true', (click)='removeEntry()', [disabled]="captureForm.controls.entries.controls.length <= 1")
          i(mz-icon-mdi, [icon]="'minus'")
    block buttonRow
      +sendLogButton("{{ 'Log.send_report' | translate:lang }}")(form="aged_product")