extends ../../inventory-viewer.common.pug

block itemInventory
  gmp-packing-preop-inventory

block areaInventory
  gmp-packing-preop-area-inventory

block customTabs
  mz-tab-item(label="{{ 'Manage Form' | translate:lang }}")
    gmp-packing-preop-form-inventory