<div class="row"><div class="col s12 m12 l12">
    <!-- Generic title -->
    <h4><i class="mdi mdi-alert-circle md-36 field-icon error"></i>
        <div>Parece que hubo un problema.</div>
    </h4>
    
    <!-- Accordion for organizing relevant info -->
    <ul class="collapsible" data-collapsible="accordion">
        <!-- This section explains what happened -->
        <li>
            <!-- Section title -->
            <div class="collapsible-header active">
                <i class="mdi mdi-help-circle"></i>
                ¿Qué ocurrió?
            </div>
            
            <!-- Section body -->
            <div class="collapsible-body">
                <p>
                    Lo sentimos, pero el recurso que solicitó no pudo ser 
                    encontrado en el servidor.
                </p>
            </div>
        </li>
        
        <!-- This section explains what caused the problem -->
        <li>
            <!-- Section title -->
            <div class="collapsible-header">
                <i class="mdi mdi-help-circle"></i>
                ¿Qué lo causó?
            </div>
            
            <!-- Section body -->
            <div class="collapsible-body">
                <p>
                    Solicitó al servidor un recurso que no existe o al cuál no 
                    tiene permisos de acceso. También puede ser que el servidor 
                    no haya comprendido la petición que le envió.
                </p>
            </div>
        </li>
        
        <!-- This section explains what can the user do to keep working -->
        <li>
            <!-- Section title -->
            <div class="collapsible-header">
                <i class="mdi mdi-help-circle"></i>
                ¿Qué puedo hacer para resolverlo?
            </div>
            
            <!-- Section body -->
            <div class="collapsible-body">
                <p>
                    Revise el URL que ingresó y asegúrese que esté bien 
                    escrito. Si esto no funciona, asegúrese de que el usuario 
                    con el cuál inicio la sesión tenga permiso de acceso al 
                    recurso solicitado. De no ser así, cambie a un usuario que 
                    sí lo tenga. 
                </p>
            </div>
        </li>
    </ul>

</div></div>

<!-- Generic footer -->
<div class="row"><div class="col s12 m12 l12 center">
    <p style="font-weight:bold">
        Si el problema persiste, no dude en contactarnos presionando el 
        botón de abajo:
    </p>
    
    <!-- Redirect to "Report Problem" -->
    <a class="nav-link waves-effect waves-light btn green" 
        href="report-problem">
        <i class="mdi mdi-alert left"></i>¡AYUDA!
    </a>
</div></div>