<div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
        <div class="card"><form id="login-form">
            <!-- Logo area -->
            <div class="card-image">
                <img src="/espresso/data/logos/default.png">
            </div>
            
            <!-- Log in form -->
            <div class="card-content">
                
                <!-- Username field -->
                <div class="input-field col s12">
                    <i class="mdi mdi-account-circle prefix">
                    </i>
                    <input class="validate" id="username" 
                        name='username' type="text">
                    <label for="username" class="username_login">
                        
                    </label>
                </div>
                
                <!-- Password field -->
                <div class="input-field col s12">
                    <i class="mdi mdi-lock prefix">
                    </i>
                    <input class="validate" id="password" 
                        name='password' type="password">
                    <label for="password" class="password">
                        
                    </label>
                </div>
                
                <!-- Servidor status icon -->
                <span class='white-text'>_</span>
                <div><div class="green-text" id="server-online">
                    <i class="field-icon mdi mdi-cloud-check md-24">
                    </i>
                    <span class="server-status server_online">
                        
                    </span>
                </div></div>
                
                <div><div class="red-text" id="server-offline">
                    <i class="field-icon mdi mdi-cloud-outline-off md-24">
                    </i>
                    <div class="server-status server_offline">
                        
                    </div>
                </div></div>
            </div>
            
            <!-- Log in button -->
            <div class="card-action text-green center">
                <button type='submit' id="form-submit" 
                    class="login waves-effect waves-green btn-flat black-text">
                </button>
            </div>
        </form></div>
    </div>
</div>