<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-wrench md-36 field-icon"></i>
            <div class="log_title"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div id="content_wrapper">
    <div id="tabs_wrapper">
        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="green-text" href="#manual_tab">Manual</a></li>
                <li class="tab col s3"><a class="green-text" href="#report_tab">Reportes</a></li>
                <li class="tab col s3"><a class="green-text" href="#logs_tab">Bitacoras</a></li>
              </ul>
            </div>
            <div style="height: calc(100vh - 225px)" id="manual_tab" class="col s12">
                <iframe src = "/espresso/ViewerJS/#../manualNotFound.pdf" width='100%' height='100%' style="min-height: 300px" allowfullscreen webkitallowfullscreen></iframe>
            </div>
            <div id="report_tab" class="col s12">
                <div class="card-panel white">
                    <div id="report_date_start" class="input-field col s12">

                    </div>
                    <div id="report_date_end" class="input-field col s12">

                    </div>
                    .
                </div>
            </div>
            <div id="logs_tab" class="col s12">
                <!--<div class="card-panel white">
                    <span class="card-title">Zona: LAW</span>
                    <span class="card-title">Encabezado</span>
                </div>
                <div class="card-panel white">
                    <span class="card-title">Area #1 Congelador</span>
                        <div class="card-panel white">
                            <div class="row">
                                <span class="card-title col s4">1 Floors/Pisos</span>
                                <div class="col s4">
                                    <div><input name="group1" type="radio" id="test1" />
                                    <label for="test1"><i class="mdi mdi-checkbox-marked-circle mdi-18px green-text"></i></label></div>
                                    <div><input name="group1" type="radio" id="test2" />
                                    <label for="test2"><i class="mdi mdi-close-circle mdi-18px red-text"></i></label></div>
                                </div>
                                <div class="input-field col s4">
                                    <select>
                                        <option value="" disabled selected>Choose your option</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                    <label>Materialize Select</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class=>
                                    <input id="first_name" type="text" class="validate">
                                    <label for="first_name">Comentarios</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-panel white">
                            <span class="card-title">2 Trash Receptacles / Botes de Basura</span>
                        </div>
                        <div class="card-panel white">
                            <span class="card-title">3 Drains / Drenaje</span>
                        </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
