<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-wrench md-36 field-icon"></i>
            <div class="log_title"></div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div id="content_wrapper">
    <div id="tabs_wrapper">
        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s4"><a class="green-text manual_tab" href="#manual_tab"></a></li>
                <li class="tab col s4"><a class="green-text report_tab" href="#report_tab"></a></li>
                <li class="tab col s4"><a class="green-text logs_tab" href="#logs_tab"></a></li>
              </ul>
            </div>
            <div style="height: calc(100vh - 225px)" id="manual_tab" class="col s12">
                <iframe src = "/espresso/ViewerJS/#../manualNotFound.pdf" width='100%' height='100%' style="min-height: 300px" allowfullscreen webkitallowfullscreen></iframe>
            </div>
            <div id="report_tab" class="col s12">
                <div class="card-panel white">
                    <div id="report_date_start" class="input-field col s12">

                    </div>
                    <div id="report_date_end" class="input-field col s12">

                    </div>
                    <div class="center-align"><a id="request_report" class="waves-effect waves-light btn"><span class="open_report_button"></span>  <i class="mdi mdi-send mdi-18px"></i></a></div>
                </div>
            </div>
            <div id="logs_tab" class="col s12">

            </div>
        </div>
    </div>
</div>
