<form action="" id="password-recovery-form">
    <div class="card-content">

        <!-- The title of the page -->
        <span class="card-title">
            Recuperación de Contraseña
        </span>

        <!-- Email input field -->
        <div class="input-field col s12" style='float:none;'>
            <i class="mdi mdi-email prefix">
            </i>
            <input class="validate" id="email" type="email">
            <label for="email">
                Correo electrónico
            </label>
        </div>

        <!-- Waiting to send recovery password loader -->
        <div class="progress">
            <div class="indeterminate"></div>
        </div>

    </div>

    <!-- Form submit button -->
    <div class="card-action text-green center">
        <button class="login waves-effect waves-green btn-flat 
            black-text" type="submit" id="form-submit">
            Cambiar Contraseña
        </button>
    </div>
</form>