<div class="row">
    <div class="col s12 m12 l12">
    <!--Header-->
        <h4><i class="mdi mdi-domain md-36 field-icon"></i>
            <div class="zone_catalog">Catálogo de zonas</div>
        </h4>
        <div class="divider"></div>
    </div>
</div>

<div class="row">
    <div class='col s6 m3 l3 offset-m6 offset-l6 input-field' id='add-zone-form'>
        <input name='new-zone' type="text" class="validate">
        <label for="new-zone">Zone name</label>
    </div>
    <div class="col s6 m3 l3 right">
        <a class="green btn waves-effect waves-light" href="" 
            id="add_zone" style='margin-top:20px;'>
            <span class="add_zone">Add Zone</span>
            <i class="mdi mdi-plus left"></i>
        </a>
    </div>
</div>

<div class='row'><div id="zones_wrapper">
    
</div></div>